

<div ng-controller="EditTourModal">
    <div class="row" ng-show="!tourLoaded">
        <div class="col-md-10 col-md-offset-1" style="text-align: center">
            <label style="font-weight: 100">Loading tour data...</label>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active progress-bar-info" style="width: 100%" role="progressbar"></div>
            </div>
        </div>
    </div>
    <div ng-show="tourLoaded">
        <div class="row">
            <div class="col-md-6">

                <div class="form-group form-group-sm">

                    <div class="uploaded-file-text" ng-if="!isEdit && tour.ContentFileName && tour.ContentFileName.length">
                        <em>({{tour.ContentFileName}})</em>
                    </div>
                    <div class="uploaded-file-text" ng-if="isEdit">
                        <em>({{tour.Name}}.wtt)</em>
                    </div>
                    <div class="btn btn-info btn-file btn-sm" ng-show="!tour.IsLink && !isEdit">
                        Upload Tour File...
                        <input type="file" nv-file-select uploader="touruploader" />
                    </div>&nbsp;
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-group-sm">
                    <div>
                        <strong>Title</strong>
                    </div>
                    <input ng-model="tour.Name"
                           class="form-control"
                           placeholder="Tour Title"
                           data-toggle="tooltip"
                           data-original-title="Provide a friendly name for the file or link" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-sm">
                    <div>
                        <strong>Description</strong>
                    </div>
                    <textarea style="height: 105px" rows="4" class="form-control" ng-model="tour.Description"
                              placeholder="Describe this tour" data-toggle="tooltip"
                              data-original-title="Enter a description of the tour you are publishing..."></textarea>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group tour-thumb">

                    <div>
                        <strong>Tour Thumbnail</strong>
                    </div>
                    <span class="thumbpicker">
                        Choose Thumbnail...
                        <input type="file" nv-file-select uploader="tourthumbuploader" />
                    </span>
                    <div class="thumb">
                        <img class=img-responsive ng-if="!tour.ThumbnailID && !editedTourThumb" ng-src="{{contentRoot}}/images/defaulttoursthumbnail.png" alt="Tour Thumbnail" />
                        <img class=img-responsive ng-if="tour.ThumbnailID && (!isEdit || editedTourThumb)" ng-src="/file/TemporaryFile/{{tour.ThumbnailID}}" alt="Tour Thumbnail" />
                        <img class=img-responsive ng-if="tour.ThumbnailID && isEdit && !editedTourThumb" ng-src="/file/thumbnail/{{tour.ThumbnailID}}" alt="Tour Thumbnail" />
                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group tour-thumb">

                    <div>
                        <strong>Author Thumbnail</strong>
                    </div>
                    <span class="thumbpicker">
                        Choose Thumbnail...
                        <input type="file" nv-file-select uploader="authorthumbuploader" />
                    </span><div class="thumb">
                        <img class=img-responsive ng-if="!AuthorThumbnailId && !editedAuthorThumb" ng-src="{{contentRoot}}/images/profile.png" alt="Author Thumbnail" />
                        <img class=img-responsive ng-if="AuthorThumbnailId && (!isEdit || editedAuthorThumb)" ng-src="/file/TemporaryFile/{{AuthorThumbnailId}}" alt="Author Thumbnail" />
                        <img class=img-responsive ng-if="AuthorThumbnailId && isEdit && !editedAuthorThumb" ng-src="/file/Download/{{AuthorThumbnailId}}/thumb" alt="Author Thumbnail" />
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-group-sm">
                    <div>
                        <strong>Author Name</strong>
                    </div>
                    <input class="form-control" ng-model="extData.author" placeholder="Author" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-group-sm">
                    <div>
                        <strong>Author Email</strong>
                    </div>
                    <input class="form-control" ng-model="extData.authorEmail"
                           placeholder="Author Email Address" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-group-sm">
                    <div>
                        <strong>Organization</strong>
                    </div>
                    <input class="form-control" ng-model="extData.organization"
                           placeholder="Organization Name" data-toggle="tooltip" />
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group form-group-sm">
                    <div>
                        <strong>Organization Web Site</strong>
                    </div>
                    <input class="form-control" ng-model="extData.organizationUrl"
                           placeholder="Organization Web Site Url" data-toggle="tooltip" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-group-sm">
                    <div>
                        <strong>Appears in folders (Categories)</strong>
                    </div>
                    <select id="tourFolder" multiple="true">
                        <option ng-repeat="folder in ::community.communities" label="{{::folder.Name}}" value="{{::folder.Id}}">{{::folder.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-group-sm">
                    <div>
                        <strong>Related Tours</strong>
                    </div>
                    <select id="relatedTours" multiple="true">
                        <option ng-repeat="tour in ::community.contents" label="{{::tour.Name}}" value="{{::tour.ContentAzureID}}">{{::tour.Name}}</option>
                    </select>
                    <!--<select id="relatedTours" ng-model="extData.related" multiple="true" ng-options="tour.ContentAzureID as tour.Name for tour in community.contents track by tour.ContentAzureID"></select>-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group form-group-sm">
                    <div>
                        <strong>Tags</strong>
                    </div>
                    <input ng-model="extData.tags"
                           class="form-control"
                           placeholder="Tags (separated by commas)"
                           data-toggle="tooltip"
                           data-original-title="Tags enable your tour to be found using keywords. Provide as many tags (comma separated) as required to ensure your tour is more discoverable." />
                </div>


            </div>
            <div class="col-md-6">

                <div class="form-group form-group-sm">
                    <div>
                        <strong>&nbsp;</strong>
                    </div>
                    <label style="">
                        <input ng-model="extData.webclient" type="checkbox" />
                        Show in web client
                    </label>

                </div>


            </div>
        </div>

        <hr />
        <div class="row" ng-if="ratingtotal">
            <div class="col-md-10 col-md-offset-1" style="text-align: center">
                <label style="font-weight: 100">Populating rating table. Progress: {{ratingCurrent}}/{{ratingtotal}} ({{ratingPct}}%)</label>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active progress-bar-info" style="width:{{ratingPct}}%" role="progressbar"></div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="!ratingtotal">
            <div class="col-md-12">
                <button class="btn btn-info btn-sm pull-right" ng-click="AddTour()" ng-if="!isEdit">Add New Tour</button>
                <button class="btn btn-info btn-sm pull-right" ng-click="SaveTour()" ng-if="isEdit">Save Tour Changes</button>
                <a class="btn btn-warning btn-sm" ng-click="confirmDelete()" ng-if="isEdit">
                    <i class="fa fa-trash"></i>
                    Delete
                </a>
                <span class="text-warning" ng-if="!isInXml">Not in xml {{missingGuid}}</span>
                <button class="btn btn-primary btn-sm pull-right" ng-click="$hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>
