<!--<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editTourModalLabel" aria-hidden="true" ng-controller="EditTourModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editTourModalLabel">Edit Tour</h4>
            </div>
            <div class="modal-body">-->
<div ng-controller="EditTourModal">
    <div class="row">
        <div class="col-md-6">

            <div class="form-group form-group-sm">
                <div style="margin-bottom: 8px">
                    <strong>Tour File (.wtt)</strong>
                </div>
                <div class="uploaded-file-text" ng-if="!isEdit && tour.ContentFileName && tour.ContentFileName.length"><em>({{tour.ContentFileName}})</em></div>
                <div class="uploaded-file-text" ng-if="isEdit"><em>({{tour.Name}})</em></div>
                <div class="btn btn-info btn-file btn-sm" ng-show="!tour.IsLink && !isEdit">
                    Upload Tour...
                    <input type="file" nv-file-select uploader="touruploader" />
                </div>&nbsp;
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group tour-thumb">

                <div>
                    <strong>Tour Thumbnail</strong>
                </div>
                <span class="thumbpicker">
                    Choose Thumbnail...
                    <input type="file" nv-file-select uploader="tourthumbuploader" />
                </span>
                <div class="thumb">
                    <img class=img-responsive ng-show="!tour.ThumbnailID && !editedTourThumb" ng-src="{{contentRoot}}/images/defaulttoursthumbnail.png" alt="Tour Thumbnail" />
                    <img class=img-responsive ng-show="tour.ThumbnailID && (!isEdit || editedTourThumb)" ng-src="/file/TemporaryFile/{{tour.ThumbnailID}}" alt="Tour Thumbnail" />
                    <img class=img-responsive ng-show="tour.ThumbnailID && isEdit && !editedTourThumb" ng-src="/file/thumbnail/{{tour.ThumbnailID}}" alt="Tour Thumbnail" />
                </div>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-group-sm">
                <div>
                    <strong>Title</strong>
                </div>
                <input ng-model="tour.FileName"
                       class="form-control"
                       placeholder="Tour Title"
                       data-toggle="tooltip"
                       data-original-title="Provide a friendly name for the file or link" />
            </div>
            <div class="form-group form-group-sm">
                <div>
                    <strong>Appears in folders (Categories)</strong>
                </div>
                
                <select id="tourFolder" ng-model="extData.folders" multiple="true" ng-options="c.Id as c.Name for c in community.communities"></select>
            </div>
            <div class="form-group form-group-sm">
                <div>
                    <strong>Tags</strong>
                </div>
                <input ng-model="extData.tags"
                       class="form-control"
                       placeholder="Tags (separated by commas)"
                       data-toggle="tooltip"
                       data-original-title="Tags enable your tour to be found using keywords. Provide as many tags (comma separated) as required to ensure your tour is more discoverable." />
            </div>
            <div class="form-group form-group-sm">
                <div>
                    <strong>Description</strong>
                </div>
                <textarea style="height:105px" rows="4" class="form-control" ng-model="tour.Description"
                          placeholder="Describe this tour" data-toggle="tooltip"
                          data-original-title="Enter a description of the tour you are publishing..."></textarea>


            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group tour-thumb">

                <div>
                    <strong>Author Thumbnail</strong>
                </div>
                <span class="thumbpicker">
                    Choose Thumbnail...
                    <input type="file" nv-file-select uploader="authorthumbuploader" />
                </span><div class="thumb">
                    <img class=img-responsive ng-show="!AuthorThumbnailId && !editedAuthorThumb" ng-src="{{contentRoot}}/images/profile.png" alt="Author Thumbnail" />
                    <img class=img-responsive ng-show="AuthorThumbnailId && (!isEdit || editedAuthorThumb)" ng-src="/file/TemporaryFile/{{AuthorThumbnailId}}" alt="Author Thumbnail" />
                    <img class=img-responsive ng-show="AuthorThumbnailId && isEdit && !editedAuthorThumb" ng-src="/file/Download/{{AuthorThumbnailId}}/thumb" alt="Author Thumbnail" />
                </div>


            </div>
            <div class="form-group form-group-sm">
                <div>
                    <strong>Author Name</strong>
                </div>
                <input class="form-control" ng-model="extData.author"
                       placeholder="Author" />
            </div>
            <div class="form-group form-group-sm">
                <div>
                    <strong>Author Email</strong>
                </div>
                <input class="form-control" ng-model="extData.authorEmail"
                       placeholder="Author Email Address" />
            </div>

            <div class="form-group form-group-sm" style="margin-top: 20px">
                <div>
                    <strong>Organization</strong>
                </div>
                <input class="form-control" ng-model="extData.organization"
                       placeholder="Organization Name" data-toggle="tooltip" />
            </div>
            <div class="form-group form-group-sm" style="margin-top:20px">
                <div>
                    <strong>Organization Web Site</strong>
                </div>
                <input class="form-control" ng-model="extData.organizationUrl"
                       placeholder="Organization Web Site Url" data-toggle="tooltip" />
            </div>
        </div>
    </div>

    <hr />


    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-info btn-sm pull-right" ng-click="AddTour()" ng-if="!isEdit">Add New Tour</button>
            <button class="btn btn-info btn-sm pull-right" ng-click="SaveTour()" ng-if="isEdit">Save Tour Changes</button>
            <button class="btn btn-primary btn-sm pull-right" ng-click="$hide()">Cancel</button>
        </div>
    </div>
</div>
<!--</div>
        </div>
    </div>
</div>-->
