@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Explorers/LeftNav.cshtml")
}

<section>
	<h1>Explorers</h1>
	<p>WorldWide Telescope was designed from its inception with personal inquiry, exploration, discovery, and explanation in mind and fosters these critical learning goals by providing powerful features.  WorldWide Telescope promotes a thrill of discovery by allowing learners of all levels to access the same data professionals use, from the world’s best telescopes.    </p>
	<p>WorldWide Telescope enables your computer to function as a virtual telescope—bringing together imagery from the world’s best ground- and space-based telescopes for the exploration of the universe. WWT blends terabytes of images, information, and stories from multiple sources into a seamless, immersive, rich media experience.  Explorers of all ages will feel empowered to explore and understand the cosmos using WWT’s simple and powerful user interface. </p>
	<p>
	
	<img src="@Model.ImgDir/learners.jpg" alt="Kids learning about the cosmos"  class="img-responsive" /></p>
	<p>Get started by navigating the options to the left.</p>
	<p>&nbsp;</p>
</section>

