@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Explorers/LeftNav.cshtml")
}

	<h1>WorldWide Telescope Ambassadors</h1>
	<p>
		The WorldWide Telescope Ambassadors program is a great resource to get your students engaged with WorldWide Telescope. Find out <a href=http://wwtambassadors.org target="_blank">more.</a>
	</p>


