@{
    ViewBag.Title = "Open WWT";
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
    @Html.Partial("~/Views/OpenWWT/LeftNav.cshtml")
}



<h1>Microsoft is Open‐Sourcing WorldWide Telescope in 2015</h1>
<p class="text-muted"><em>April 29, 2015 update</em></p>
<p>Microsoft is continuing to proceed with our plan for an open source release of key components of WorldWide Telescope. Two specific updates today:</p>
<p>First, we have placed an initial codebase in GitHub, the Worldwide Telescope Web Client. We view this as an important milestone because it demonstrates our commitment to this effort, and more importantly, it allows the community to begin to explore the code. <em>An important note: This was a bit of a &lsquo;trial run&rsquo;, and we are not actively accepting commits just yet, and there is no developer support at this time. </em>This repository contains the HTML5 SDK which is the rendering engine for the web client and the embeddable web control. It also contains the full web client code, which is buildable with the free Community Edition of Visual Studio. <a href="https://github.com/MSRConnections/OpenWWT-WebClient">https://github.com/MSRConnections/OpenWWT-WebClient</a></p>
<p>Second, we have continued to work the astronomy community to improve the readiness and capacity to successfully move forward with OpenWWT. We have also continued to add content to this Web site for the community: <a href="http://wwtstories.org/">&rsquo;WWT Stories</a>&rsquo; and documentation on <a href="http://openwwt.com/OpenWWT/Contributing">&lsquo;Building on the Current Capabilities of WWT&rsquo;</a>. Finally, we are also in ongoing communications with the American Astronomical Society regarding the leadership role they can play in the future.</p>
<p>We will use this page to provide updates going forward.</p>
<p>For further inquiries to Microsoft, please email <a href="mailto:openwwt@microsoft.com">openwwt@microsoft.com</a> and include WWT in the Subject line.</p>

<p class="text-muted"><em>March 14, 2015 (Pi Day!)</em></p>
<h3>Why is this great news?</h3>
<p> Millions of people rely on WorldWide Telescope (WWT) as their unified astronomical image and data environment for exploratory research, teaching, and public outreach. With OpenWWT, any individual or organization will be able to adapt and extend the functionality of WorldWide Telescope to meet any research or educational need. Extensions to the software will continuously enhance astronomical research, formal and informal learning, and public outreach.</p>
<h3>What is WWT, and where did it come from?</h3>
<p>WorldWide Telescope began in 2007 as a research project, led from within Microsoft Research.&nbsp; Early partners included astronomers and educators from Caltech, Harvard, Johns Hopkins, Northwestern, the University of Chicago, and several NASA facilities. Thanks to these collaborations and Microsoft&rsquo;s leadership, WWT has reached its goal of creating a free unified contextual visualization of the Universe with global reach that lets users explore multispectral imagery, all of which is deeply connected to scholarly publications and online research databases.</p>
<p>The WWT software was designed with rich interactivity in mind. Guided tours which can be created within the program, offer scripted paths through the 3D environment, allowing media-rich interactive stories to be told, about anything from star formation to the discovery of the large scale structure of the Universe.&nbsp; On the web, WWT is used as both as a standalone program and as an API, in teaching and in research&mdash;where it offers unparalleled options for sharing and contextualizing data sets, on the &ldquo;2D&rdquo; multispectral sky and/or within the &ldquo;3D&rdquo; Universe.</p>
<iframe width="420" height="315" src="https://www.youtube.com/embed/_FMmOjjlI8o" frameborder="0" allowfullscreen></iframe>
<h3>How can you help?</h3>
<p>Open-sourcing WWT will allow the people who can best imagine how WWT should evolve to meet the expanding research and teaching challenges in astronomy to guide and foster future development. The OpenWWT Consortium&rsquo;s members are institutions who will guide WWT&rsquo;s transition from Microsoft Research to a new host organization. The Consortium and hosting organization will work with the broader astronomical community on a three-part mission of: 1) advancing astronomical research, 2) improving formal and informal astronomy education; and 3) enhancing public outreach.</p>
<p>Join us. If you and your institution want to help shape the future of WWT to support your needs, and the future of open-source software development in Astronomy, then ask us about joining the OpenWWT Consortium.</p>
<p>
    To contact the WWT team, or inquire about joining the OpenWWT Consortium, contact the Open WWT team: <a href="mailto:openwwt@microsoft.com">openwwt@microsoft.com</a>.
</p>
<h3>WWT Technology</h3>
<ul>
    <li>Browse libraries of astronomical datasets, or load your own data</li>
    <li>Use your web browser for a good, basic WWT experience</li>
    <li>Full-featured, high-performance Windows application</li>
    <li>Powered by cloud-based services</li>
    <li>Supports 3D imagery, surface photography, topological mapping, and more</li>
    <li>Create sharable, narrated “tours” of datasets and astronomical points of interest</li>
    <li>Planetarium and Full-Dome control capabilities</li>
    <li>Open Source permits custom feature extensibility</li>
</ul>
<p>As the code moves through the open source process, this technology section will be updated with additional details appropriate for a technical audience.</p>
<ul>
    <li>
        <a href="http://facebook.com/OpenWWT">
            <i class="fa fa-facebook-square"></i>
            Facebook.com/OpenWWT
        </a>
    </li>
    <li>
        <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.worldwidetelescope.org%2FOpenWWT&text=Check%20out%20OpenWWT&tw_p=tweetbutton&url=http%3A%2F%2Fwww.worldwidetelescope.org&via=OpenWWT">
            <i class="fa fa-twitter-square"></i>
            @@openwwt
        </a>
    </li>

</ul>