<li class="@(ViewBag.page == "Index"     ? "active" : "")"><a href="/OpenWWT/">Open Source</a></li>
<li class="@(ViewBag.page == "WWTStories"  ? "active" : "")"><a href="http://wwtstories.org">WWT Stories</a></li>
<li class="@(ViewBag.page == "Contributing"     ? "active" : "")"><a href="/OpenWWT/Contributing">Open Source Contribution</a></li>