<li class="@(ViewBag.page == "Index"     ? "active" : "")"><a href="/OpenWWT/">OpenWWT</a></li>
<li class="@(ViewBag.page == "WWTStories"  ? "active" : "")"><a href="http://wwtstories.org">WWT Stories</a></li>
<li class="@(ViewBag.page == "Contributing"     ? "active" : "")"><a href="/OpenWWT/Contributing">Contributing to OpenWWT</a></li>