<script src="@Model.JsDir/controls/move.js?v=@Model.ResVer"></script>
<script src="@Model.JsDir/controls/util.js?v=@Model.ResVer"></script>
<li class="@(ViewBag.page == "Index"     ? "active" : "")"><a href="/Learn/">Getting Started</a></li>
<li class="@(ViewBag.page == "UserGuide"  ? "active" : "")"><a href="/Learn/UserGuide">User Guides</a></li>

