@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
	ViewBag.Title = "Advanced Guides - WorldWide Telescope";
	ViewBag.HideTranslateWidget = 1;
}
@section leftnav{
	@Html.Partial("~/Views/Learn/LeftNav.cshtml")
}

<section>
    <h1>Advanced WWT Topics</h1>
    <p>This guide has been stiched together from advanced users. If you would like to contribute to it, please see the <a href="/GetInvloved/HelpOthers">Help Others Use WWT</a> page</p>

    <p>You can read the most updated version of this guide <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-advanced-guides/content/">online</a>, or download it in pdf, ePub, or Mobi format by following the download link on the <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-advanced-guides/details/">gitbook page</a>.</p>
   

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row home-features">
                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-advanced-guides/content/">
                        <img src="/Content/images/gbox.png" class="img-responsive">
                        <i class="fa fa-book"></i>
                        <h4>Read Online</h4>
                    </a>
                </div>

                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <a href="~/Docs/worldwide-telescope-advanced-guides.pdf">
                        <img src="/Content/images/gbox.png" class="img-responsive">
                        <i class="fa fa-file-pdf-o"></i>
                        <h4>Download .pdf</h4>
                    </a>
                </div>

                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <a href="~/Docs/worldwide-telescope-advanced-guides.mobi">
                        <img src="/Content/images/gbox.png" class="img-responsive">
                        <i class="fa fa-file-text-o"></i>
                        <h4>Download .mobi</h4>
                    </a>
                </div>

                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <a href="~/Docs/worldwide-telescope-advanced-guides.epub">
                        <img src="/Content/images/gbox.png" class="img-responsive">
                        <i class="fa fa-file-text"></i>
                        <h4>Download .epub</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>


</section>
