@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
	ViewBag.Title = "Developer Guides - WorldWide Telescope";
	ViewBag.HideTranslateWidget = 1;
}
@section leftnav{
	@Html.Partial("~/Views/Learn/LeftNav.cshtml")
}

<section>
    <h1>WorldWide Telescope Developer Guides</h1>
    <p> The following guides are aimed at software developers who already have familiarity with WWT. For more information for developers please see the <a href="/GetInvolved/Develop">Develop WWT</a> page</p>

    <h2>Control Layers in the WWT Windows Client</h2>

    <p><strong>What it can do</strong>: In addition to using the layer manager interactively, you can use scripting and programming languages to send commands and data into WWT from your own code driving the visualization of data in WWT. You can write code that can read data from a database, or create it mathematically and send it to WWT to render. In addition almost all of WWT functionality can be controller through the LCAPI. This means you can create control mechanisms for automated or interactive control of WWT through your own hardware and software. A good example of the use of the LCAPI is the ADS All-Sky Survey as seen in WorldWide Telescope, at <a href="adsass.org/wwt/">adsass.org/wwt/</a>.</p>

    <p><strong>Skills Required</strong>: You need to be familiar with the programing language or your choice, use the LCAPI documentation, and learn how to use HTTP request to send and receive data from WWT. There is also a library called Narwhal that provides a .NET wrapper and high level programming features for those who use .NET. Any language that can call HTTP web services can control WWT, and a Python interface has already been implemented, as pyWWT, (see <a href="https://github.com/jzuhone/pywwt">https://github.com/jzuhone/pywwt</a>).</p>

    <p>You can read the most updated version of this guide <a href="https://worldwidetelescope.gitbooks.io//worldwide-telescope-layer-control-api/content/">online</a>, or download it in pdf, ePub, or Mobi format by following the download link on the <a href="https://www.gitbook.com/book/worldwidetelescope//worldwide-telescope-layer-control-api/details">gitbook page</a>.</p>
 
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row home-features">
                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-layer-control-api/content/">
                        <img src="/Content/images/gbox.png" class="img-responsive">
                        <i class="fa fa-book"></i>
                        <h4>Read Online</h4>
                    </a>
                </div>

                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <a href="~/Docs/worldwide-telescope-layer-control-api.pdf">
                        <img src="/Content/images/gbox.png" class="img-responsive">
                        <i class="fa fa-file-pdf-o"></i>
                        <h4>Download .pdf</h4>
                    </a>
                </div>

                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <a href="~/Docs/worldwide-telescope-layer-control-api.mobi">
                        <img src="/Content/images/gbox.png" class="img-responsive">
                        <i class="fa fa-file-text-o"></i>
                        <h4>Download .mobi</h4>
                    </a>
                </div>

                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <a href="~/Docs/worldwide-telescope-layer-control-api.epub">
                        <img src="/Content/images/gbox.png" class="img-responsive">
                        <i class="fa fa-file-text"></i>
                        <h4>Download .epub</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <h2>Control the HTML5 Web Client</h2>
   <p>Web Control scripts are used to customize the WorldWide Telescope web client. This guide describes the setup, development process, API set and samples to aid developers in building their own applications. The customization scripts are written in JScript and embedded in an html file, and along with custom data files, can be used to do one or more of the following tasks:
    <ul>
        <li>Create custom viewing interfaces</li>
        <li>Add images to the view, with their own annotations</li>
        <li>Add annotations to existing images</li>
        <li>Load in and interact with a VO (Virtual Observatory) table</li>
        <li>Load and play tours</li>
        <li>Change the settings for a view</li>
    </ul></p>
    <p>Note that currently the web controller only applies to the Sky view of WorldWide Telescope, and not the Earth, Planet, Panorama or SolarSystem views.</p>
    
    <p>You can read the most updated version of this guide <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-web-control-script-reference/content/">online</a>, or download it in pdf, ePub, or Mobi format by following the download link on the <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-web-control-script-reference/content/details">gitbook page</a>.</p></p>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row home-features">
                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-web-control-script-reference/content/">
                        <img src="/Content/images/gbox.png" class="img-responsive">
                        <i class="fa fa-book"></i>
                        <h4>Read Online</h4>
                    </a>
                </div>

                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <a href="~/Docs/worldwide-telescope-web-control-script-reference.pdf">
                        <img src="/Content/images/gbox.png" class="img-responsive">
                        <i class="fa fa-file-pdf-o"></i>
                        <h4>Download .pdf</h4>
                    </a>
                </div>

                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <a href="~/Docs/worldwide-telescope-web-control-script-reference.mobi">
                        <img src="/Content/images/gbox.png" class="img-responsive">
                        <i class="fa fa-file-text-o"></i>
                        <h4>Download .mobi</h4>
                    </a>
                </div>

                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                    <a href="~/Docs/worldwide-telescope-web-control-script-reference.epub">
                        <img src="/Content/images/gbox.png" class="img-responsive">
                        <i class="fa fa-file-text"></i>
                        <h4>Download .epub</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
