@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Learn/LeftNav.cshtml")
}

<section>
	<h1>Getting Started with WorldWide Telescope</h1>
	<p> You can use World Wide Telescope by installing it on a Windows PC or using the Web Client </p>
    <h2> Install WorldWide Telescope on a Windows PC </h2>
    <p>After <a href="/Download/">downloading WorldWide Telescope</a>, install and launch the program.  Upon first opening the Home screen, you’ll find a dialogue box that tells you how to navigate in the WorldWide Telescope. Follow these instructions, and then, after you’re familiar with the controls and features, click the Guided Tours tab. Now you can choose from a growing number of guided tours created by astronomers and educators from famous observatories and planetariums. For example, you can join Harvard astronomer Alyssa Goodman on a journey that shows how dust in the Milky Way Galaxy condenses into stars and planets. Or you can accompany University of Chicago cosmologist Mike Gladders two billion years into the past to view a gravitational lens bending the light from galaxies – a phenomenon that allows you to see billions more years into cosmic history. Feel free to pause a tour at any time and explore on your own – you can later re-enter the tour where you left off.</p>
    <h2>Use the WorldWide Telescope Web Client</h2>
	After <a href="/webclient/">launching the WorldWide Telescope Web Client</a>, click the down arrow under the <strong>Explore</strong> tab and select <strong>Tour WWT Features</strong>.
    <h2>Learn More</h2>
    To learn more about WWT you can <a href="/Learn/UserGuide">check out the user guide</a> and <a href="/Learn/Videos"> view WWT videos</a>, like the Getting Started video below:
    <div class="large-video-player autoresize" style="margin:16px 0">
        <iframe width="560" height="315" src="//www.youtube.com/embed/zooTDvbpdDQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <br />
    <p>This video was rendered from a WorldWide Telescope tour: <a href="@Model.ContentDir/Tours/Getting Started with WWT - v1.2.wtt">Getting Started with WWT</a>.</p>

    If you have questions, please <a href="/About/ContactUs">contact us.</a>


    <br/>    
</section>


