@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Researchers/LeftNav.cshtml")
}
	<h1>Researcher Resources</h1>
	<p>From the outer reaches of the universe to our Solar System to our planet Earth, WorldWide Telescope lets you seamlessly share and explore 3D/4D visualizations of complex datasets and image sets within WorldWide Telescope.  The following Resources provide an excellent starting point for visualizing your data in WorldWide Telescope today.</p>
	<h4>Layer Control API</h4>
	<p>The Layer Control API (LCAPI) enables efficient data transfer and visualization in WorldWide Telescope.  The LCAPI supports:</p>
	<ul>
		<li>Adding custom data to the Layer Manager of WorldWide Telescope.</li>
		<li>Connecting your database and application specific processing with WorldWide Telescopes Visualization.</li>
		<li>Remotely controlling WWT from other applications.</li>
	</ul>
	<p>Explore <a href="/Developers/LayerControlAPI">Layer Control API documentation</a> (includes sample code).</p>
	
	<h4>Tile Pipeline Tools</h4>
	<p>Tile Pipeline Tools allow:</p>
	<ul>
		<li>Reproject image data into tile pyramids suitable for visualization in WorldWide Telescope.</li>
		<li>Turn global or local xyz data into image tile pyramids.</li>
		<li>Process Digital Elevation Models (DEM) into WWT compatible DEM tile pyramids.</li>
		<li>Share the tile pyramids with your colleagues.</li>
		<li>Create your own community containing tours, data and links that your colleagues can easily access.</li>
		<li>Access the original ADK tools, i.e. the Sphere Toaster and the Study Chopper.</li>
	</ul>
	<p>
		Further Reading and Reference documentation
	</p>
	<ul>
		<li><a href="/Developers/DataFilesReference">Data Files Reference documentation</a> </li>
		<li><a href="/Developers/ProjectionReference">Projection Reference documentation</a> </li>
	</ul>


