<div class="row" ng-show="!community" style="padding: 25px 0">
    <div class="col-md-6 col-md-offset-3">
        <label>Community details loading. Please wait...</label>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active progress-bar-info" style="width: 100%" role="progressbar"></div>
        </div>
    </div>
</div>
<div ng-cloak ng-show="community" class="community-detail entity-detail" ng-show="community">

    <a class="thumbnail" title="{{community.Name}}">
        <img ng-src="{{community.ThumbnailUrl}}" class="img-thumbnail" />
    </a>
    <h1>{{community.Name}} (Community)</h1>
    <em class="last-updated">Updated {{community.LastUpdated}}</em>
    <div class="row">
        <div class="col-md-6">

            <ul class="entity-details">
                <li><strong>Members:</strong> {{community.MemberCount + 1}}</li>
                <li><strong>Created by:</strong> {{community.Producer}}</li>
                <li><strong>Category:</strong> {{types.categoryValues.getName(community.Category)}}</li>
                <li><strong>Tags:</strong> {{community.Tags}}</li>
            </ul>
            <br />
        </div>
        <div class="col-md-6">
            <strong>Description</strong>
            <div style="margin-bottom: 10px;" ng-bind-html="community.Description"></div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="{{options.activeTab == 'contents' ? 'active' : ''}}" ng-click="tabChange('contents')">
            <a href="javascript:void(0)" data-toggle="tab">
                Contents
                <span ng-if="community.contents">({{community.contents.length}})</span>
                <span ng-if="!community.contents">(0)</span>
            </a>
        </li>
        <li class="{{options.activeTab == 'communities' ? 'active' : ''}}" ng-click="tabChange('communities')">
            <a href="javascript:void(0)" data-toggle="tab">
                Sub Communities
                <span ng-if="community.communities">({{community.communities.length}})</span>
                <span ng-if="!community.communities">(0)</span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane {{options.activeTab == 'contents' ? 'active' : 'hide'}}">
            <div class="row" ng-show="loadingContent" style="padding: 25px 0">
                <div class="col-md-6 col-md-offset-3">
                    <label>Community content loading. Please wait...</label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active progress-bar-info" style="width: 100%" role="progressbar"></div>
                    </div>
                </div>
            </div>
            <div ng-show="community.contents.length == 0">
                <p>&nbsp;</p>
                <p>
                    <em>You have not added any content yet</em>
                </p>

            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-3 col-xs-6" ng-repeat="entity in community.contents">
                    <a class="thumbnail"
                       data-placement="top"
                       data-auto-close="true"
                       title="{{entity.Name}}"
                       style="width: 100%"
                       content-template="/Content/Views/ContentPreview.html" bs-popover
                       data-trigger="hover"
                       href="#/ContentDetail/{{entity.Id}}">
                        <span class="typeicon" title="{{entity.ContentTypeName}}" bs-tooltip>
                            <i class="spriteicon {{types.contentValues.getTypeName(entity.ContentType)}}" ng-if="entity.ContentTypeName != 'Link'"></i>
                            <i class="spriteicon fa fa-external-link" ng-if="entity.ContentTypeName == 'Link'"></i>
                        </span>
                        <img ng-src="{{entity.ThumbnailUrl}}" class="img-thumbnail" />
                        <label class="small" style="font-weight: 100">{{entity.Name}}</label>
                    </a>

                </div>
            </div>

            <a class="btn btn-info btn-sm" href="#/AddContent/{{community.Id}}">Add Content</a>
            <div class="clearfix"></div>
            <p>&nbsp;</p>

        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane {{options.activeTab == 'communities' ? 'active' : 'hide'}}">
            <div ng-show="community.communities == null">
                <p>&nbsp;</p>
                <p>
                    <em>There are no child communities.</em>
                </p>
                <p>&nbsp;</p>
            </div>
            <div class="row" ng-if="community.communities">
                <div class="col-lg-2 col-sm-3 col-xs-6" ng-repeat="community in community.communities">
                    <a class="thumbnail"
                       data-placement="top"
                       data-auto-close="true"
                       title="{{community.Name}}"
                       style="width: 100%"
                       href="#/CommunityDetail/{{community.Id}}">
                        <img ng-src="{{community.ThumbnailUrl}}" class="img-thumbnail" />
                        <label class="small" style="font-weight: 100">{{community.Name}}</label>
                    </a>

                </div>
            </div>

            <a class="btn btn-info btn-sm" href="#/AddCommunity/{{community.Id}}">Create New Child Community</a>
            <div class="clearfix"></div>
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding-bottom: 12px;" ng-show="types">
            <hr class="clearfix" /><br />

            <a class="btn btn-info btn-sm" ng-href="#/EditCommunity/{{community.Id}}/{{community.ParentId}}" ng-if="userCanEdit && community.ParentName != 'None'">
                <i class="fa fa-edit"></i>
                Edit Community
            </a>
            <a class="btn btn-info btn-sm" ng-href="#/EditCommunity/{{community.Id}}" ng-if="userCanEdit && community.ParentName == 'None'">
                <i class="fa fa-edit"></i>
                Edit Community
            </a>

            <a class="btn btn-warning btn-sm" ng-click="confirmDelete()" ng-if="userCanEdit">
                <i class="fa fa-trash"></i>
                Delete Community
            </a>
            <a class="btn btn-sm btn-info" data-toggle="modal" data-target="#joinCommunityModal" ng-if="permission == null || permission.CurrentUserPermission < 2 || permission.Result == null">Join</a>
            <a class="btn btn-primary btn-sm" ng-href="#/CommunityDetail/{{community.ParentId}}" ng-if="community.ParentName != 'None' && community.ParentId != 0">
                <i class="fa fa-level-up"></i>
                View Parent Community
            </a>
        </div>
    </div>
</div>
<div class="modal fade" id="joinCommunityModal" tabindex="-1" role="dialog" aria-labelledby="joinCommunityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="joinCommunityModalLabel">Join this community</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <div class="col-sm-12">
                        <div>
                            <strong>Requested Role</strong>
                        </div>
                        <select id="lstRole">
                            <option value="Reader">Reader</option>
                            <option value="Contributor">Contributor</option>
                            <option value="Moderator">Moderator</option>
                            <option value="Owner">Owner</option>
                        </select>
                    </div>

                    <div class="clearfix"></div>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="joinCommunity()">
                    Send Request
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
