@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Researchers/LeftNav.cshtml")
}

    <h1>Researchers</h1>
    <p> WorldWide Telescope enables new ways of visualization of observational data.  WWT can be used at all stages of research including observational analysis and exploration, as well as presentation.  Observational planning can start with literature review and exploit the connections between Astrophysics Data System (ADS) and WWT.   After new images are obtained they can be compared to other catalog and imagery data.  Data can be brought into WWT in a number of ways from FITS files, VO tables, or through SAMP interfaces to other applications.  Researchers can use WWT to capture and share their visual explorations with colleagues during observational planning and analysis.  WorldWide Telescope enables researchers to create visualizations for professional presentations.  </p>
    <p>&nbsp;</p>



