
<li class="@(ViewBag.page == "Index" ? "active" : "")"><a href="/Researchers/">Researchers Home</a></li>
<li class="@(ViewBag.page == "Resources" ? "active" : "")"><a href="/Researchers/Resources">Resources</a></li>
