*.ide/
*.pubxml
*.psess
*.sln.docstates
*.suo
*.user
*.vsp
*.vspx

.nuget/
.vs/
[Bb]in/
bld/
bower_components/
build/
[Dd]ebug/
[Dd]ebugPublic/
node_modules/
[Oo]bj/
packages/
[Rr]elease/
x64/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*

# Database file
Database.jfm
/tools/PlateManager/Properties/launchSettings.json
