
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	<li class="active"><a href="javascript:void(0)">Search Results</a></li>
}

<h1>Search Results</h1>

<script>
	$(function () {
		var q = getQSValue('q');
		
		$.ajax({
			url: '/BingProxy/' + encodeURIComponent(q),
			type:"GET"
		}).success(function (data) { // Use the jQuery promises interface
			var jsonData = JSON.parse(data); // Assume it returns a JSON string
			console.log(jsonData); // Do whatever you want with the data
		});
		/*
		
		

		function createCORSRequest(method, url) {
			var xhr = new XMLHttpRequest();
			if ("withCredentials" in xhr) {

				// Check if the XMLHttpRequest object has a "withCredentials" property.
				// "withCredentials" only exists on XMLHTTPRequest2 objects.
				xhr.withCredentials = true;
				xhr.open(method, url, true);

			} else if (typeof XDomainRequest != "undefined") {

				// Otherwise, check if XDomainRequest.
				// XDomainRequest only exists in IE, and is IE's way of making CORS requests.
				xhr = new XDomainRequest();
				xhr.open(method, url);

			} else {

				// Otherwise, CORS is not supported by the browser.
				xhr = null;

			}
			return xhr;
		}
		
		wwt.xhr = createCORSRequest('GET', url);
		wwt.xhr.send();
		wwt.xhr.onload = function () {
			var responseText = xhr.responseText;
			console.log(responseText);
			// process the response.
		};

		wwt.xhr.onerror = function () {
			console.log(arguments);
		};
		console.log(wwt.xhr);
		if (!wwt.xhr) {
			throw new Error('CORS not supported');
		}*/
	});
</script>