@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	<li class="active"><a href="/Museums/">Museums Home</a></li>
}

<h1>Museums</h1>
<p>WorldWide Telescope transforms the museum experience.  From self-running tours to interactive branching educational tours, WorldWide Telescope promises an eye-catching and immersive showpiece for museum audiences. WorldWide Telescope has native support for a variety of systems, and enables kiosk-mode controls for maintenance-free operation.  WWT requires a Windows operating system and like any real-time graphics application runs better on higher-performance graphics cards.  </p>
