@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	<li class="active"><a href="javascript:void(0)">Server Error</a></li>
}
<a name="top"></a>
<h1>
	WWT Server Error
</h1>

<p>
	Worldwide Telescope encountered an error. If you continue to encounter this error, contact support.

</p>
<p>
	<a href="/">WorldWide Telescope Home page</a>
</p>