@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
	Response.StatusCode = 404;
}
@section leftnav{
	<li class="active"><a href="javascript:void(0)">Not found Error</a></li>
}
<h1>
	Page not found (404)
</h1>

<p>
	The page may have been moved or is no longer available.

</p>
<p>
	<a href="/">WorldWide Telescope Home page</a>
</p>