@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Support/LeftNav.cshtml")
}

<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/css/bootstrapvalidator.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
<h1>Issues, Bugs and Support for WorldWide Telescope</h1> 

	<p>Support for WorldWide Telescope is provided through our discussion forums <a class="reg" href="http://forums.worldwidetelescope.org/" >forums.worldwidetelescope.org</a>.  To get troubleshooting help, ask general questions, or make suggestions, please post there.</p>

        <p>To report a bug, please file a ticket in the appropriate GitHub issue tracker:</p>
        <p><ul><li><a class="reg" href="https://github.com/WorldWideTelescope/wwt-windows-client" >Windows client issue tracker</a></li>
           <li><a class="reg" href="https://github.com/WorldWideTelescope/wwt-web-client" >Web Client issue tracker</a></li>
           <li><a class="reg" href="https://github.com/WorldWideTelescope/wwt-website" >Web Site issue tracker</a></li>
           <li><a class="reg" href="https://github.com/WorldWideTelescope/wwt-remote" >WWT Remote Cluster Controller issue tracker</a></li>
           <li><a class="reg" href="https://github.com/WorldWideTelescope/" >(browse all WWT repositories/trackers)</a></li>
           </ul></p>

        <p>When filing a bug report, please be as specific as possible.  The details that you include enable us to quickly identify the problem and its solution.  Tell us your platform, operating system, browser and hardware you have such as processor, RAM and graphics card.)</p>

<h1>Feedback or further questions</h1>

Please feel free to <a href="mailto:wwt@aas.org">email</a> questions or comments to us, or send us a <a href="https://www.facebook.com/WorldWideTelescope">Facebook</a> message, or tweet to <a href="https://www.twitter.com/WWTelescope">@@WWTelescope</a>.

<style>
	.has-feedback i.fa {
		top: 0;
		right: 15px;
	}

	.has-feedback .fa0 i.fa {
		right: 0;
	}

	.control-label.optional {
		font-weight: 100;
	}
</style>