<li class="@(ViewBag.page == "Index" ? "active" : "")"><a href="/Learn/">Learn WWT</a></li>
<li class="@(ViewBag.page == "IssuesAndBugs" ? "active" : "")"><a href="/Support/IssuesAndBugs">Issues and Bugs</a></li>
<li><a href="http://forums.worldwidetelescope.org/" target="forum">Web Forum</a></li>
<li class="@(ViewBag.page == "Localization" ? "active" : "")"><a href="/Support/Localization">Language Support</a></li>