@{
    Layout = "~/Views/Shared/_ContentPage.cshtml";
    ViewBag.Title = "Language Support in WorldWide Telescope";
}
@section leftnav{
    @Html.Partial("~/Views/Support/LeftNav.cshtml")
}

<h1>Language Support in WWT</h1>
<br />
<section>
    <h3>Setting Language in WorldWide Telescope</h3>
    <p>You can change your language setting in WorldWide Telescope by clicking the down arrow below the <strong>Settings</strong> menu entry.</p>
    <p><strong>Select Your Language...</strong> changes the language of the UI.</p>
    <br />
</section>
<section>
    <h3>WWT Website uses Bing Translator</h3>
    <p>Bing Translator translates text and web pages into different languages, powered by the Microsoft Translator machine translation platform and web service.  Machine translation is not a replacement for human translation but can be a great solution when resources or budget do not allow for human translation.</p>
    <p>WWT has implemented the Bing Translator Widget to bring real-time, in-place translation on the WorldWide Telescope webpage.   Learn more at <a href="http://www.bing.com/translator">Bing Translator</a>.</p>
</section>
