@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Download/LeftNav.cshtml")
}


<section>
	<h1>WorldWide Telescope 5 Features</h1>
	<p>From web to desktop to full-dome planetarium, WorldWide Telescope (WWT) enables you to explore the universe, bringing together imagery from the best ground- and space-based telescopes in the world and combining it with 3D navigation. With WWT, you can experience narrated guided tours from astronomers and educators featuring interesting features in the sky. You can research and import your own data and visualize it, then create a tour to share with others. </p>
	<ul>
		<li>Navigate seamlessly through 3D spherical environments: the Sky, Planets and our Solar System</li>
		<li>Access to hundreds of terabytes of sky, earth and planet data</li>
		<li>View, create, and edit guided tours</li>
		<li>Experience the 3D Solar System view with moon orbits, asteroids, and more</li>
		<li>Access billions of objects in a web-based astronomical catalog</li>
		<li>Use touch controls for touch-screen navigation</li>
		<li>Travel 2,000 years forwards and backwards in time </li>
	</ul>

	<p>WorldWide Telescope 5.0 is the latest version and is already in production use in some of the world’s premiere planetariums. This feature-rich application is now available to everyone for download, at no cost.</p>
	<p>What’s new for WWT 5.0?</p>
	<ul>
		<li>Improved animation and transition control with key-frame editing functionality</li>
		<li>New MIDI controller support enables you to customize control panels by using inexpensive but powerful MIDI performance controllers</li>
		<li>You can now manage projector nodes, check status, and render performance—all from the WWT console</li>
		<li>Screen Broadcast feature allows any application on the console to display as a window in Full Dome mode</li>
		<li>Support for Web Map Service time-series images</li>
		<li>New atmospheric and lighting controls help you visualize Earth and other planets more realistically</li>
		<li>Tilt and rotate controls let you explore planet surfaces in Solar System mode</li>
		<li>Full-dome tour authoring and instant full-dome playback of desktop tours with overlays and images</li>
		<li>Highly detailed models of the International Space Station and Gemini Observatory for use in tours</li>
		<li>Support for Earth-based and sky-based visualizations</li>
	</ul>
   
</section>