<li class="@(ViewBag.page == "Index" ? "active" : "")"><a href="/Use/">Download WWT</a></li>
@*<li class="@(ViewBag.page == "Beta" ? "active" : "")"><a href="/Download/Beta">Beta</a></li>*@
<li class="@(ViewBag.page == "TourAssets" ? "active" : "")"><a href="/Use/TourAssets">Add 3D Models, Music, and Images to your Tours</a></li>
<li class="@(ViewBag.page == "Embed" ? "active" : "")"><a href="/Use/Embed">Embed Web Control</a></li>