<h1>Create Community</h1>
<div class="row">
    
    <div class="col-md-6">
        <div>
            <strong>Name</strong>
        </div>
        <input ng-model="community.Name"
               class="form-control"
               placeholder="Community Name"
               data-toggle="tooltip"
               data-original-title="Name your community" />
    </div>
    <div class="col-md-6">
        <div>
            <strong>Parent Community</strong>
        </div>
        <select style="max-width: 100%" ng-model="community.ParentID" ng-options="c.Text for c in communities track by c.val" id="lstCommunity"></select>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group form-group-sm">
            <div>
                <strong>Category</strong>
            </div>
            <select ng-model="community.CategoryID" ng-options="c.index as c.name for c in types.categoryValues | orderBy: 'index' | filter: {name : '!All'}"></select>
        </div>
    </div>
    
</div>

<h4>Visibility</h4>
<div class="form-group form-group-sm">
    <div class="radio">
        <label>
            <input type="radio" name="vis" value="2" ng-model="community.AccessTypeID" />
            Public (Visible and accessible to all users, including unregistered users)
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" name="vis" value="1" ng-model="community.AccessTypeID" />
            Private (Visible and accessible only to a set of users that you have explicitly provided permissions to)
        </label>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <div class="form-group form-group-sm">
            <div>
                <strong>Description</strong>
            </div>
            <textarea style="height:77px" rows="4" class="form-control" ng-model="community.Description"
                      placeholder="Describe this community" data-toggle="tooltip"
                      data-original-title="Enter a description of the community you are create..."></textarea>
            <div class="form-group form-group-sm">
                <div>
                    <strong>Tags</strong>
                </div>
                <input ng-model="community.Tags"
                       class="form-control"
                       placeholder="Tags (separated by commas)"
                       data-toggle="tooltip"
                       data-original-title="Tags enable your content to be found using keywords. Provide as many tags (comma separated) as required to ensure your content is more discoverable." />
            </div>
        </div>
    </div>
    <div class="col-md-6">


        <div class="form-group form-group-sm" style="margin-top: 20px">
            <div>
                <strong>Affiliation</strong>
            </div>
            <textarea style="height: 42px" class="form-control" ng-model="community.Citation"
                      placeholder="Affiliation (organization or university)"></textarea>
        </div>
        <div class="form-group">

            <img ng-show="!community.ThumbnailID && !isEdit" class="pull-right" ng-src="/content/images/defaultcommunitythumbnail.png" />
            <img ng-show="community.ThumbnailID && !isEdit" class="pull-right" ng-src="/file/TemporaryFile/{{community.ThumbnailID}}" />
            <img ng-show="isEdit" class="pull-right" ng-src="/file/thumbnail/{{community.ThumbnailID}}" />
            <div>
                <strong>Thumbnail</strong>
            </div>
            <span class="btn btn-primary btn-file">
                Choose Thumbnail...
                <input type="file" nv-file-select uploader="thumbuploader" />
            </span>


        </div>
    </div>
</div>


<div class="clearfix"></div>
<hr />
<div class="pull-right iblock">
    <a class="btn btn-info btn-sm" ng-click="saveEditedCommunity()" ng-if="isEdit">Save Changes</a>
    <a class="btn btn-info btn-sm" ng-click="createCommunity()" ng-if="!isEdit">Create</a>
    <a class="btn btn-primary btn-sm" href="#/MyProfile">Cancel</a>
</div>
<div class="clearfix"></div>