
<div ng-cloak ng-show="community" class="community-detail">

    <h1 style="margin-bottom: 28px">{{community.Name}} (Community)</h1>
    <em class="text-muted small rel" style="top:-20px">Updated {{community.LastUpdated}}</em>
    <div class="row">
        <div class="col-md-6">

            <a class="thumbnail pull-left" title="{{community.Name}}">

                <img ng-src="{{community.ThumbnailUrl}}" class="img-thumbnail" />

            </a>

            <ul class="iblock" style="list-style: none">
                <li><strong>Created by:</strong> {{community.Producer}}</li>
                <li><strong>Category:</strong> {{community.ParentName}}</li>
                <li><strong>Type:</strong> {{community.ContentTypeName}}</li>

            </ul>

            <br />

        </div>
        <div class="col-md-6">
            <strong>Description</strong>
            <div style="margin-bottom: 10px;" ng-bind-html="community.Description">

            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="{{options.activeTab == 'contents' ? 'active' : ''}}" ng-click="tabChange('contents')">
                    <a href="javascript:void(0)" data-toggle="tab">
                        Contents
                        <span ng-if="community.contents">({{community.contents.length}})</span>
                        <span ng-if="!community.contents">(0)</span>
                    </a>
                </li>
                <li class="{{options.activeTab == 'communities' ? 'active' : ''}}" ng-click="tabChange('communities')">
                    <a href="javascript:void(0)" data-toggle="tab">
                        Sub Communities
                        <span ng-if="community.communities">({{community.communities.length}})</span>
                        <span ng-if="!community.communities">(0)</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="tab-pane {{options.activeTab == 'contents' ? 'active' : 'hide'}}">
                    <div ng-show="community.contents == null">
                        <p>&nbsp;</p>
                        <p>
                            <em>You have not added any content yet</em>
                        </p>

                    </div>
                    <div class="col-lg-2 col-sm-3 col-xs-6" ng-repeat="entity in community.contents">
                        <a class="thumbnail"
                           data-placement="top"
                           data-auto-close="true"
                           title="{{entity.Name}}"
                           style="width: 100%"
                           content-template="/Content/Views/ContentPreview.html" bs-popover
                           data-trigger="hover"
                           href="#/ContentDetail/{{entity.Id}}">
                            <span class="typeicon" title="{{entity.ContentTypeName}}" bs-tooltip>
                                <i class="spriteicon {{entity.ContentTypeName}}" ng-if="entity.ContentTypeName != 'Link'"></i>
                                <i class="spriteicon fa fa-external-link" ng-if="entity.ContentTypeName == 'Link'"></i>
                            </span>
                            <img ng-src="{{entity.ThumbnailUrl}}" class="img-thumbnail" />
                            <label class="small" style="font-weight: 100">{{entity.Name}}</label>
                        </a>

                    </div>
                    <p>&nbsp;</p>
                    <div class="clearfix"></div>
                    <a class="btn btn-info btn-sm" href="#/AddContent/{{community.Id}}">Add Content</a>
                    
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane {{options.activeTab == 'communities' ? 'active' : 'hide'}}">
                    <div ng-show="community.communities == null">
                        <p>&nbsp;</p>
                        <p>
                            <em>There are no child communities.</em>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                    <div class="row" ng-if="community.communities">
                        <div class="col-lg-2 col-sm-3 col-xs-6" ng-repeat="community in community.communities">
                            <a class="thumbnail"
                               data-placement="top"
                               data-auto-close="true"
                               title="{{community.Name}}"
                               style="width: 100%"
                               href="#/CommunityDetail/{{community.Id}}">
                                <img ng-src="{{community.ThumbnailUrl}}" class="img-thumbnail" />
                                <label class="small" style="font-weight: 100">{{community.Name}}</label>
                            </a>

                        </div>
                    </div>

                    <a class="btn btn-info btn-sm" href="#/AddCommunity">Create New Child Community</a>
                    <div class="clearfix"></div>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding-bottom: 12px;">
            <hr class="clearfix" /><br />
            <a class="btn btn-info btn-sm" ng-href="#/EditCommunity/{{community.Id}}" ng-if="types.currentUserId == entity.ProducerId || types.isAdmin">Edit Community</a>
            <a class="btn btn-warning btn-sm" ng-click="confirmDelete()" ng-if="types.currentUserId == community.ProducerId || types.isAdmin">
                <i class="fa fa-trash"></i>
                Delete Community
            </a>
        </div>
    </div>
</div>
