<h2>Community Content</h2>

<div class="row" style="position: relative; top: 50px; height: 0;overflow:visible" ng-show="!loadingContent && entityList.length">
    <div class="col-md-6 col-md-offset-6" style="margin-top:-30px">
        <div class="pull-right">
            <div style="margin: -8px 0 -10px; text-align: right">
                <small>Page size:</small>
                <a class="{{pageInfo.ItemsPerPage == c ? 'label label-info page-size small' : 'page-size small'}}"
                   href="javascript:void(0)" ng-click="pageCountChange(c)"
                   ng-repeat="c in pageSizeOptions[currentResolution]">{{c}}</a>

            </div>
            <pagination total-items="pageInfo.TotalCount"
                        items-per-page="pageInfo.ItemsPerPage"
                        ng-model="pageInfo.CurrentPage"
                        max-size="6" class="pagination-sm"
                        boundary-links="true"
                        previous-text="&lt;"
                        next-text="&gt;"
                        first-text="&laquo;"
                        last-text="&raquo;">
            </pagination>
        </div>
    </div>
</div>
<ul class="nav nav-tabs">
    <li class="{{options.activeTab == 'browse' ? 'active' : ''}}" ng-click="tabChange('browse')"><a href="javascript:void(0)" data-toggle="tab">Browse</a></li>
    <li class="{{options.activeTab == 'search' ? 'active' : ''}}" ng-click="tabChange('search')"><a href="javascript:void(0)" data-toggle="tab">Search</a></li>
    
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane {{options.activeTab == 'browse' ? 'active' : 'hide'}}" id="browse">
        <div class="row" style="margin-bottom: 8px">
            <div class="col-md-2">
                <label>Sort</label>
                <select ng-change="getEntities()" ng-model="options.highlightType" ng-options="h.val as h.name for h in types.highlightValues"></select>
            </div>
            <div class="col-md-2"  ng-if="options.entityType == 'Content'">
                <label>Content Type</label>
                <select ng-change="getEntities()" id="ddContentType" ng-model="options.contentType" ng-options="c.val as c.name for c in types.contentValues"></select>
            </div>
            <div class="col-md-2">
                <label>Category</label>
                <select ng-change="getEntities()" ng-model="options.categoryType" ng-options="c.val as c.name for c in types.categoryValues"></select>
            </div>
            <div class="col-md-4">
                <label>Show</label>
                <div>
                    <label class="radio">
                        <input name="entityType" value="Content" ng-model="options.entityType" type="radio"  ng-change="getEntities()"/>
                        Content
                    </label>
                    <label class="radio">
                        <input name="entityType" value="Community" ng-model="options.entityType" type="radio"  ng-change="getEntities()"/>
                        Communities
                    </label>
                </div>
            </div>

        </div>
    </div>

    <div class="tab-pane {{options.activeTab == 'search' ? 'active' : 'hide'}}" id="search" style="margin-bottom: 16px">
        <div class="row">
            <div class="col-md-4">
                <label>Query</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Search Community Content" ng-model="options.query" ng-keypress="runSearch()">

                    <a class="input-group-addon" href="javascript:void(0)" data-toggle="tooltip" data-original-title="Search all community content" ng-click="runSearch()">
                        <i class="fa fa-search"></i>
                    </a>

                </div>
            </div>
            <div class="col-md-8">
                <div class="iblock">
                    <label>Category</label>
                    <select ng-change="searchCategories()" id="searchCategories" ng-model="options.searchCategories" multiple="true" ng-options="c.val as c.name for c in types.categoryValues"></select>
                </div>
                <div class="iblock">
                    <label>Content Type</label>
                    <select ng-change="searchContent()" id="searchContentTypes" ng-model="options.searchContentTypes" multiple="true" ng-options="c.val as c.name for c in types.contentValues"></select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="!loadingContent">
    <div ng-repeat="entity in entityList" class="col-lg-2 col-sm-3 col-xs-6" ng-if="options.entityType == 'Content'">
        <a class="thumbnail"
           data-placement="top"
           data-auto-close="true"
           title="{{entity.Name}}"
           style="width: 100%"
           data-trigger="hover"
           content-template="/Content/Views/ContentPreview.html" bs-popover
           href="#/ContentDetail/{{entity.Id}}">
            <span class="typeicon" title="{{entity.ContentTypeName}}" bs-tooltip>
                <i class="spriteicon {{types.contentValues.getTypeName(entity.ContentType)}}" ng-if="entity.ContentTypeName != 'Link'"></i>
                <i class="spriteicon fa fa-external-link" ng-if="entity.ContentTypeName == 'Link'"></i>
            </span>
            <img ng-src="{{entity.ThumbnailUrl}}" class="img-thumbnail"/>
            <label class="small" style="font-weight: 100">{{entity.Name}}</label>
        </a>
    </div>
   
        <div class="col-lg-2 col-sm-3 col-xs-6" ng-repeat="community in entityList" ng-if="options.entityType == 'Community'">
            <a class="thumbnail"
               data-placement="top"
               data-auto-close="true"
               title="{{community.Name}}"
               style="width: 100%"
               href="#/CommunityDetail/{{community.Id}}">
                <img ng-src="{{community.ThumbnailUrl}}" class="img-thumbnail" />
                <label class="small" style="font-weight: 100">{{community.Name}}</label>
            </a>

        </div>
    
</div>
<div class="row" ng-show="loadingContent" style="padding: 25px 0">
    <div class="col-md-6 col-md-offset-3">
        <label>Content Loading. Please wait...</label>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active progress-bar-info" style="width: 100%" role="progressbar"></div>
        </div>
    </div>
</div>
<div class="row" ng-show="!loadingContent && entityList.length == 0" style="padding:25px 0">
    <div class="col-md-6 col-md-offset-3" style="text-align: center">
        <label>No Results</label>

    </div>
</div>
<div class="row" style="margin-top: 10px;" ng-show="!loadingContent && entityList.length && pageInfo.ItemsPerPage >= 30">
    <div class="col-md-6 col-md-offset-6" style="margin-top:10px">
        <div class="pull-right">

            <pagination total-items="pageInfo.TotalCount"
                        items-per-page="pageInfo.ItemsPerPage"
                        ng-model="pageInfo.CurrentPage"
                        max-size="6" class="pagination-sm"
                        boundary-links="true"
                        previous-text="&lt;"
                        next-text="&gt;"
                        first-text="&laquo;"
                        last-text="&raquo;">
            </pagination>
        </div>
    </div>
</div>