<!--<div class="pull-left iblock">-->
<a class="thumbnail pull-left" title="{{entity.Name}}" href="/file/Download/{{entity.ContentAzureID}}/{{entity.FileName}}">
    <span class="typeicon">
        <i class="spriteicon {{entity.ContentTypeName ? entity.ContentTypeName.toLowerCase():''}}" ng-if="entity.ContentTypeName != 'Link'"></i>
        <i class="spriteicon fa fa-external-link" ng-if="entity.ContentTypeName == 'Link'"></i>
    </span>
    <img ng-src="{{entity.ThumbnailUrl}}" class="img-thumbnail" />

</a>

<ul class="iblock">
    <li><strong>Author:</strong> {{entity.Producer}}</li>
    <li><strong>Category:</strong> {{entity.ParentName}}</li>
    <li><strong>Type:</strong> {{types.contentValues[entity.ContentType].name}}</li>
    <li><strong>Updated:</strong> {{entity.LastUpdated}}</li>
</ul>
<hr class="clearfix" />
<div style="max-height: 60px; margin-bottom: 10px;overflow: auto" ng-bind-html="entity.Description">

</div>
<em>Click thumbnail to view content detail</em>
