<div class="row" ng-show="!entity" style="padding: 25px 0">
    <div class="col-md-6 col-md-offset-3">
        <label>Content details loading. Please wait...</label>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active progress-bar-info" style="width: 100%" role="progressbar"></div>
        </div>
    </div>
</div>

<div ng-cloak ng-show="entity" class="entity-detail">
    <a class="thumbnail" title="{{entity.Name}}" href="{{entity.DownloadUrl}}">
        <span class="typeicon">
            <i class="spriteicon {{types.contentValues.getTypeName(entity.ContentType)}}" ng-if="entity.ContentTypeName != 'Link'"></i>
            <i class="spriteicon fa fa-external-link" ng-if="entity.ContentTypeName == 'Link'"></i>
        </span>
        <img ng-src="{{entity.ThumbnailUrl}}" class="img-thumbnail" />
    </a>
    <h1>{{entity.Name}}</h1>
    <em class="last-updated">Updated {{entity.LastUpdated}}</em>
    <div class="row">
        <div class="col-md-6">
            <ul class="entity-details">
                <li><strong>Uploaded by:</strong> {{entity.Producer}}</li>
                <li><strong>Author:</strong> <span ng-bind-html="entity.DistributedBy"></span></li>
                <li><strong>Type:</strong> {{types.contentValues.getName(entity.ContentType)}}</li>
                <li><strong>Category:</strong> {{types.categoryValues.getName(entity.Category)}}</li>
                <li><strong>Community:</strong> {{entity.ParentName}}</li>
                <li ng-if="entity.Citation"><strong>Citation:</strong> <span ng-bind-html="entity.Citation"></span></li>
                <li ng-if="entity.Tags"><strong>Tags:</strong> {{entity.Tags}}</li>
                <li><strong>Downloads:</strong> {{entity.DownloadCount}}</li>
                <li><strong>Size:</strong> {{entity.FileSize}}</li>

            </ul>
        </div>
        <div class="col-md-6">
            <strong>Description</strong>
            <div style="margin-bottom: 10px;" ng-bind-html="entity.Description">

            </div>
            <div class="clearfix"></div>
            <div ng-if="entity.AssociatedFiles.length">
                <strong style="display: block; margin: 12px 0 6px;">Associated Files</strong>
                <ul style="width: 100%">
                    <li ng-repeat="file in entity.AssociatedFiles"><a href="{{file.LinkUrl || file.DownloadUrl}}">{{file.Name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 12px;">
            <hr class="clearfix" /><br />
            <a class="btn btn-primary btn-sm" ng-href="{{entity.DownloadUrl}}" ng-if="entity.DownloadUrl">

                <i class="fa fa-download"></i>
                Download
            </a>

            <a class="btn btn-primary btn-sm" ng-href="{{entity.LinkUrl}}" target="link" ng-if="entity.LinkUrl">
                <i class="fa fa-external-link"></i>
                Visit Link
            </a>

            <a class="btn btn-primary btn-sm" ng-href="{{entity.webclientUrl}}" ng-if="entity.webclientUrl" target="webclient">View in WWT Web Client</a>
            <a class="btn btn-info btn-sm" ng-href="#/EditContent/{{entity.Id}}" ng-if="types.currentUserId == entity.ProducerId || types.isAdmin">
                <i class="fa fa-edit"></i>
                Edit
            </a>
            <a class="btn btn-warning btn-sm" ng-click="confirmDelete()" ng-if="types.currentUserId == entity.ProducerId || types.isAdmin">
                <i class="fa fa-trash"></i>
                Delete
            </a>
        </div>
    </div>
</div>
