<div ng-cloak ng-show="profile">
<h1 style="margin-bottom: 50px">My WWT Profile</h1>
<div class="pull-right col-md-3 boxGradient" style="padding: 10px 10px 10px;">
    <h4 style="margin: 2px 0 5px">Storage Used {{profile.PercentageUsedStorage}}</h4>
    <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{profile ? profile.PercentageUsedStorage.split('%')[0]: 0}}" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': '{{profile.PercentageUsedStorage}}'}">
            <span class="sr-only">{{profile.PercentageUsedStorage}} Used</span>
        </div>
    </div>
    <div class="small">{{profile.UsedStorage}} of {{profile.TotalStorage}} available</div>
</div>
<div style="margin-top: 20px">
    <img ng-src="{{profile.ProfilePhotoLink}}" class="pull-left" style="margin: 0 12px 12px 0" alt="Profile Picture"/>
    <p style="margin-bottom: 6px">
        <strong>{{profile.ProfileName}}</strong>
    </p>
    <p ng-if="profile.Affiliation.length">{{profile.Affiliation}}</p>
    <p style="margin-bottom: 6px">
        <strong>About</strong>
    </p>
    <p ng-show="profile.AboutProfile.length">
        <em ng-bind-html="profile.AboutProfile"></em>
    </p>
    <p ng-hide="profile.AboutProfile.length">
        <em class="text-muted">Click Edit Profile to provide information about yourself</em>
    </p>

    <div class="clearfix"></div>
    <div style="margin: 30px 0">
        <p>
            <a class="btn btn-sm btn-info" data-toggle="modal" data-target="#EditProfileModal">Edit Profile</a>
            <a class="btn btn-sm btn-primary" ng-click="logout()">Log Out</a>
        </p>
        <p>
            <label>
                
                <input type="checkbox" id="chkRemember" ng-model="rememberMe" ng-change="rememberMeChange()"/>
                Remember me on this computer
            </label>
        </p>
    </div>

</div>
<div class="clearfix"></div>

<ul class="nav nav-tabs">
    <li class="{{options.activeTab == 'uploads' ? 'active' : ''}}" ng-click="tabChange('uploads')">
        <a href="javascript:void(0)" data-toggle="tab">
            Uploads
            <span ng-if="profile.uploads">({{profile.uploads.length}})</span>
            <span ng-if="!profile.uploads">(0)</span>
        </a>
    </li>
    <li class="{{options.activeTab == 'communities' ? 'active' : ''}}" ng-click="tabChange('communities')">
        <a href="javascript:void(0)" data-toggle="tab">
            Communities
            <span ng-if="profile.communities">({{profile.communities.length}})</span>
            <span ng-if="!profile.communities">(0)</span>
        </a>
    </li>
    <li class="{{options.activeTab == 'requests' ? 'active' : ''}}" ng-click="tabChange('requests')">
        <a href="javascript:void(0)" data-toggle="tab">
            Requests
            <span ng-if="profile.requests">({{profile.requests.length}})</span>
            <span ng-if="!profile.requests">(0)</span>
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane {{options.activeTab == 'uploads' ? 'active' : 'hide'}}">
        <div ng-show="profile.uploads == null">
            <p>&nbsp;</p>
            <p>
                <em>You have not uploaded any content yet</em>
            </p>

        </div>
        <div class="row" ng-if="profile.uploads">
            <div class="col-lg-2 col-sm-3 col-xs-6" ng-repeat="entity in profile.uploads">
                <a class="thumbnail"
                   data-placement="top"
                   data-auto-close="true"
                   title="{{entity.Name}}"
                   style="width: 100%"
                   content-template="/Content/Views/ContentPreview.html" bs-popover
                   data-trigger="hover"
                   href="#/ContentDetail/{{entity.Id}}">
                    <span class="typeicon" title="{{entity.ContentTypeName}}" bs-tooltip>
                            <i class="spriteicon {{entity.ContentTypeName}}" ng-if="entity.ContentTypeName != 'Link'"></i>
                            <i class="spriteicon fa fa-external-link" ng-if="entity.ContentTypeName == 'Link'"></i>
                        </span>
                    <img ng-src="{{entity.ThumbnailUrl}}" class="img-thumbnail"/>
                    <label class="small" style="font-weight: 100">{{entity.Name}}</label>
                </a>

            </div>
        </div>
        <p>&nbsp;</p>
        <a class="btn btn-info btn-sm" href="#/AddContent">Add Content</a>
        <div class="clearfix"></div>
        <p>&nbsp;</p>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane {{options.activeTab == 'communities' ? 'active' : 'hide'}}">
        <div ng-show="profile.communities == null">
            <p>&nbsp;</p>
            <p>
                <em>You have not joined or created any communities yet.</em>
            </p>
            <p>&nbsp;</p>
        </div>
        <div class="row" ng-if="profile.communities">
            <div class="col-lg-2 col-sm-3 col-xs-6" ng-repeat="community in profile.communities">
                <a class="thumbnail"
                   data-placement="top"
                   data-auto-close="true"
                   title="{{community.Name}}"
                   style="width: 100%"
                   href="#/CommunityDetail/{{community.Id}}">
                    <img ng-src="{{community.ThumbnailUrl}}" class="img-thumbnail"/>
                    <label class="small" style="font-weight: 100">{{community.Name}}</label>
                </a>

            </div>
        </div>

        <a class="btn btn-info btn-sm" href="#/AddCommunity">Create New Community</a>
        <div class="clearfix"></div>
        <p>&nbsp;</p>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane {{options.activeTab == 'requests' ? 'active' : 'hide'}}">
        <div ng-show="profile.requests == null">
            <p>&nbsp;</p>
            <p>
                <em>You have no requests</em>
            </p>
        </div>
        <div class="row" ng-if="profile.requests">
            <div class="col-md-12">
                <table class="table table-responsive">
                    <thead>
                    <tr>

                        <th>Requestor</th>
                        <th>Community</th>
                        <th>Date</th>
                        <th>Permission</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="request in profile.requests" requestHash="{{request.$$hashKey}}">
                        <td>{{request.Name}}</td>
                        <td>{{request.CommunityName}}</td>
                        <td>{{request.Requested}}</td>
                        <td>
                            <select>
                                <option value="1" selected="{{request.Role==1}}">Reader</option>
                                <option value="2" selected="{{request.Role==2}}">Contributor</option>
                                <option value="3" selected="{{request.Role==3}}">Moderator</option>
                                <option value="4" selected="{{request.Role==4}}">Owner</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-info btn-xs" ng-click="approveRequest(request)">Approve</button>
                            <button class="btn btn-warning btn-xs" ng-click="denyRequest(request)">Decline</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="clearfix"></div>
        <p>&nbsp;</p>
    </div>
</div>

<div class="modal fade" id="EditProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editProfileModalLabel">Edit Profile</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <div class="col-sm-12">
                        <div>
                            <strong>Name</strong>
                        </div>
                        <input ng-model="editProfile.profileName" class="form-control" placeholder="Edit Name"/>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div>
                            <strong>Affiliations</strong>
                        </div>
                        <input ng-model="editProfile.affiliation"
                               class="form-control"
                               placeholder="Edit Affiliations"
                               data-toggle="tooltip"
                               data-original-title="Enter any organization or university you are affiliated with"/>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <img ng-show="editProfile.profileImageId" class="pull-right" ng-src="/file/TemporaryFile/{{editProfile.profileImageId}}"/>
                        <div>
                            <strong>Picture</strong>
                        </div>
                        <span class="btn btn-primary btn-file">
                                Choose Picture...
                                <input type="file" nv-file-select uploader="uploader" />
                            </span><br/>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <div>
                            <strong>About Me</strong>
                        </div>
                        <textarea class="form-control" ng-model="editProfile.aboutMe"
                                  placeholder="Describe yourself" data-toggle="tooltip"
                                  data-original-title="Enter a description of yourself..."></textarea>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label data-toggle="tooltip"
                                   data-original-title="Receive notifications from communities you belong to">
                                <input type="checkbox" ng-model="editProfile.isSubscribed"/>
                                Subscribe to notifications
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="saveProfile()">
                        Save
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</div>

