@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/WWTinAction/LeftNav.cshtml")
}

    <h1>WorldWide Telescope in Action</h1>
    <p></p>
    <p>&nbsp;</p>



