@{
    Layout = "~/Views/Shared/_ContentPage.cshtml";
    ViewBag.Title = "Worldwide Telescope in Action";
    ViewBag.HideTranslateWidget = 1;

}
@section leftnav{
	@Html.Partial("~/Views/WWTinAction/LeftNav.cshtml")
}
<section>
    <h1>WorldWide Telescope in Action</h1>
</section>
<section>
	<h3>The Bones of the Milky Way</h3>
	<p></p>
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#origins">
					   Origins
					</a>
				</h4>
			</div>
			<div id="origins" class="panel-collapse collapse">
				<div class="panel-body">
                    <p><img style="float:right" class="img-responsive inline-block" src="@Model.ImgDir\ringberg1.png" alt="Milky Way" /> <br />At a 2012 meeting at the Max Planck Society’s Ringberg Castle, a speaker shows the image in the background here. An audience member interrupts to ask if the dark cloud in the image (called “Nessie”) is parallel to the plane of the Milky Way.   No one knows offhand.</p>
                    <br />
                    <br />
                    <p>In the back of the conference room, curious astronomers use WWT’s built-in access to All-Sky infrared surveys to see that Nessie certainly is parallel to the plane. More importantly they also see that it is at least twice as long as anyone thought, and, oddly off from “zero” latitude by about half a degree.  </p>
                    <div class="large-video-player autoresize" style="margin:16px 0">
                        <iframe width="560" height="315" src="//www.youtube.com/embed/epm0K0xP-dI?showinfo=0" frameborder ="0" allowfullscreen></iframe>
                    </div>
                    <br />
                    <p>Still in the confrence room after the talk, a few astronomers crowd around the laptop where WWT is running. One offers relevant new data on the velocities of material in Nessie that would suggest whether the full extended cloud is all at the same distance. WWT shows that it is.</p>
                    <div class="large-video-player autoresize" style="margin:16px 0">
                        <iframe width="560" height="315" src="//www.youtube.com/embed/Jw8wt2u73xk?showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <br />
                    <p>By the time the conference ends, a collaboration of six astronomers who want to learn more about Nessie forms.  Thanks to rapid WWT investigations, they know that Nessie is twice as long as anyone thought before the meeting, but they still don’t know yet why it isn’t at zero latitude on the Sky--is it not exactly in the Galactic plane?<br /></p>
                    <img class="img-responsive" src="@Model.ImgDir/galacticcenter.JPG" />
                    <p><br /><a href="/Learn/WWTinResearch#evolution">Click to see what happens next!</a></p>
                </div>
			</div>
		</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parents="#accordian" href="#evolution">
                        Evolution
                    </a>
                </h4>
            </div>
            <div id="evolution" class="panel-collapse collapse">
                <div class="panel-body">
                    <img class="img-responsive" src="@Model.ImgDir/milkyway2.jpg" alt="Milky Way" />
                    <p>After discussions with colleagues, the collaborators realize that the "zero" of Galactic Latitude as it’s defined by the International Astronomical Union (IAU) does not mark the Galactic Plane on the Sky, becuase the Sun is slightly above the plane, and the Galactic center is a bit off from the Galactic origin defined in 1959.  They wonder where the plane should be on the Sky and whether Nessie is close to it...</p>
                </div>
            </div>
        </div>
		

	</div>
	<p>&nbsp;</p>
</section>
