@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
    ViewBag.HideTranslateWidget = 1;    
}
@section leftnav{
	@Html.Partial("~/Views/WWTinAction/LeftNav.cshtml")
}
<section>
    <img class="img-responsive" src="@Model.ImgDir/WWTinAction.jpg" />
</section>
<section>
	<h1>WWT in Education</h1>
	<p></p>
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#origins">
					   Test
					</a>
				</h4>
			</div>
			<div id="origins" class="panel-collapse collapse">
				<div class="panel-body">
                    <p></p>
                    
                </div>
			</div>
		</div>
        

	</div>
	<p>&nbsp;</p>
</section>
