@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
	ViewBag.Title = "Help Others use WWT - WorldWide Telescope";
}
@section leftnav{
    @Html.Partial("~/Views/GetInvolved/LeftNav.cshtml")
}


<h2> Help others use WWT</h2>

There are several ways to get involved and help people use WWT or teach astronomy through WWT.

<div class="panel-group" id="accordion">
    <i>Click the title below to expand or collapse the panel.</i>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#wwta">
                    Become a WorldWide Telescope Ambassador
                </a>
            </h4>
        </div>
        <div id="wwta" class="panel-collapse collapse ">
            <div class="panel-body">
                Please see the <a href="https://wwtambassadors.org/">WorldWide Telescope Ambassadors website</a> for more information.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#tour">
                    Make a Tour
                </a>
            </h4>
        </div>
        <div id="tour" class="panel-collapse collapse ">
            <div class="panel-body">
                Share your astronomy knowledge by making a tour! You can <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-advanced-guides/content/webauthoring.html">make a tour with the WWT Web client</a>, or with<a href="https://www.youtube.com/watch?v=fb4RHKQCsfc&t=3s"> the WWT Windows application.</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#adddoc">
                    Contribute to our documentation
                </a>
            </h4>
        </div>
        <div id="adddoc" class="panel-collapse collapse ">
            <div class="panel-body">
                You can make a YouTube video tutorial, or help make our documentation better. See our <a href="https://github.com/WorldWideTelescope/wwt-documentation">GitHub documentation page</a> for more information. 
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#diyptarium">
                    Build your own planetarium to project WWT
                </a>
            </h4>
        </div>
        <div id="diyptarium" class="panel-collapse collapse ">
            <div class="panel-body">
                You can follow our guide <a href="http://localhost/Use/Planetariums#fulldome">here</a>.
            </div>
        </div>
    </div>

    </div>
