@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
	ViewBag.Title = "Help Others use WWT - WorldWide Telescope";
}
@section leftnav{
    @Html.Partial("~/Views/GetInvolved/LeftNav.cshtml")
}


<h2> Help others use WWT</h2>

There are several ways to get involved and help people use WWT or teach astronomy through WWT. Click the link below to learn more.


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#wwta">
                    Become a WorldWide Telescope Ambassador
                </a>
            </h4>
        </div>
        <div id="wwta" class="panel-collapse collapse ">
            <div class="panel-body">
                TODO Add info about WWTA
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#tour">
                    Make a Tour
                </a>
            </h4>
        </div>
        <div id="tour" class="panel-collapse collapse ">
            <div class="panel-body">
                TODO Add Tours Wanted
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#adddoc">
                    Add Documentation
                </a>
            </h4>
        </div>
        <div id="adddoc" class="panel-collapse collapse ">
            <div class="panel-body">
                TODO Add info about documentation
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#diyptarium">
                    Build your own planetarium for WWT
                </a>
            </h4>
        </div>
        <div id="diyptarium" class="panel-collapse collapse ">
            <div class="panel-body">
                TODO Add link to DIY planetarium
            </div>
        </div>
    </div>

    </div>
