<li class="@(ViewBag.page == "JoinUs" ? "active" : "")"><a href="/GetInvolved/">Join Us</a></li>
<li class="@(ViewBag.page == "HelpOthers" ? "active" : "")"><a href="/GetInvolved/HelpOthers">Help Others Learn WWT</a></li>
<li class="@(ViewBag.page == "Develop" ? "active" : "")"><a href="/GetInvolved/Develop">Develop WWT</a></li>
