<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5>
                    <a href="/About/">About</a>
                </h5>
                <ul>
                    <li class="small"><a class="text-default" href="/About/FAQ">FAQ</a></li>
                    <li class="small"><a href="/About/Acknowledgments">Acknowledgments</a></li>
                    <li class="small"><a href="/About/#whoweare">Who We Are</a></li>
                    <li class="small"><a href="http://aas.org/" target="aas">American Astronomical Society</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
            </div>

            <div class="col-sm-4">
                <h5><a href="/Support/">Support</a></h5>
                <ul> 
                    <li class="small"><a href="/Learn/">Learn WWT</a></li>
                    <li class="small"><a href="/Support/IssuesAndBugs">Contact Us</a></li>
                    <li class="small"><a href="/Support/Localization">Language Support</a></li>
                </ul>
            </div>
            
        </div>

    </div>
</footer>
