<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5>
                    <a href="/About/">About</a>
                </h5>
                <ul>
                    <li class="small"><a class="text-default" href="/About/FAQ">FAQ</a></li>
                    <li class="small"><a href="/About/Acknowledgments">Acknowledgments</a></li>
                    <li class="small"><a href="/About/Data">Data in WWT</a></li>
                    <li class="small"><a href="/News">News</a></li>
                    <li class="small"><a href="http://aas.org/" target="aas">American Astronomical Society</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5><a href="/Download/">Download WWT</a></h5>
                <ul>
                    <li class="small"><a href="/Download/Features">Features</a></li>
                    <li class="small"><a href="/Download/Tools">Tools</a></li>
                    <li class="small"><a href="/Download/TourAssets">Tour Assets</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h5><a href="/Support/">Support</a></h5>
                <ul> 
                    <li class="small"><a href="http://forums.worldwidetelescope.org/">Web Forum</a></li>
                    <li class="small"><a href="/Support/">User Guide</a></li>
                    <li class="small"><a href="/Support/IssuesAndBugs">Issues and Bugs</a></li>
                    <li class="small"><a href="/Support/Localization">Language Support</a></li>
                </ul>
            </div>
            
        </div>

    </div>
</footer>
