@{
    ViewBag.Title = "WorldWide Telescope Community Content";
    Layout = "~/Views/Shared/_CommunityLayout.cshtml";
}


@*<div data-ng-app="wwt"  class="community-content">
    <div data-ng-view></div>
</div>*@
