@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Use/LeftNav.cshtml")
}

	<h1>WorldWide Telescope Dome Projects</h1>
    <p>
        Not only for large public planetariums with state-of-the-art multi-monitor projection systems,
        <img class="pull-right" style="margin: 8px 0 8px 8px" src="@Model.ResLoc/Content/Images/Planetariums/wwt-dome-exterior.png">
        the WorldWide Telescope Windows Client can be configured for immersive displays of the night skies in small on-site or portable domes for schools or educational events.
    </p>

	<h4>WorldWide Telescope Micro-Dome</h4>
	

	<p>Many children never have a chance to go to a bricks-and-mortar planetarium to learn astronomy, so we created a virtual planetarium on your computer with WorldWide Telescope (WWT). However, the universe is still best experienced in an immersive environment like a dome, so we have published a set of plans that enable schools to build their own small planetarium for use with WWT. </p>
    <p>The WorldWide Telescope Micro-Dome is a low-cost, do-it-yourself option for creating a planetarium. You can construct one for less than US$1,000 by using supplies from local office and hardware stores and a first-surface spherical mirror. To complete your planetarium, you will need a projector and a laptop with WorldWide Telescope installed. Because a number of the construction tasks involve the use of power saws, cutting tools, and precise measurement, responsible adult involvement is essential.</p>
	<p>The completed dome will allow 15 to 30 children at a time to experience a high-quality digital projection of space, powered by WorldWide Telescope. Additionally, WWT allows students to create their own tours of the universe to share what they have learned with classmates—extending the learning cycle.</p>

      <h5>WWT Mobile Planetarium Guide</h5>
You can read the most updated version of this guide <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-planetarium/content/">online</a>, or download it in pdf, ePub, or Mobi format by following the download link on the <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-planetarium/content/details">gitbook page</a>.
                </p></p>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row home-features">
            <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-planetarium/content/">
                    <img src="/Content/images/gbox.png" class="img-responsive">
                    <i class="fa fa-book"></i>
                    <h4>Read Online</h4>
                </a>
            </div>
            <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="~/Docs/worldwide-telescope-planetarium.pdf">
                    <img src="/Content/images/gbox.png" class="img-responsive">
                    <i class="fa fa-file-pdf-o"></i>
                    <h4>Download .pdf</h4>
                </a>
            </div>
            <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="~/Docs/worldwide-telescope-planetarium.mobi">
                    <img src="/Content/images/gbox.png" class="img-responsive">
                    <i class="fa fa-file-text-o"></i>
                    <h4>Download .mobi</h4>
                </a>
            </div>
            <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="~/Docs/worldwide-telescope-planetarium.epub">
                    <img src="/Content/images/gbox.png" class="img-responsive">
                    <i class="fa fa-file-text"></i>
                    <h4>Download .epub</h4>
                </a>
            </div>
        </div>
    </div>
</div>


	<h4><img class="pull-left" src="@Model.ResLoc/Content/Images/Planetariums/go-dome.png" style="margin:8px 8px 8px 0"> Using Worldwide Telescope in mobile planetariums</h4>
	<p>
	    
        You can configure WorldWide Telescope to work in mobile planetariums, such as the inflatable Go-Dome. By using a laptop or desktop computer with a projector and either a fisheye lens or spherical mirror, you can project WWT onto the inflated dome, resulting in an immersive, 3D environment for exploration of the universe at schools, museums, science centers, and public venues of all kinds.
    </p>

    <p>The Go-Dome pictured here is a portable 13 feet in diameter by 9 feet high (4 meters diameter by 3 meters high). It is small enough to ship as luggage and easy to assemble. Portable domes as large as 30 feet in diameter (9 meters) are also available.</p>
	<p><a target="_blank" href="http://www.go-domes.com">Learn more about Go-Domes products</a> <br/>
	 (<strong>Note</strong>: Go-Domes is not affiliated with WorldWide Telescope.)</p>
  
<h5>WWT-Driven Mobile Planetariums</h5>
<i>Please <a href="mailto:wwt@aas.org" subject="WWT%20Mobile%20Planetarium">let us</a> know if you would like your project listed below.</i>
<p>
    <a href="http://depts.washington.edu/astron/outreach/uw-mobile-planetarium/">The University of Washington Mobile Planetarium</a> (page includes DIY guide)<br />
    <a href="https://www.nhn.ou.edu/Soonertarium/Welcome.html">The University of Oklahoma Soonertarium</a>
</p>
    <p>&nbsp;</p>

