@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Planetariums/LeftNav.cshtml")
}

	<h1>Planetarium Resources</h1>
	<p>The following resources provide information to help you use WorldWide Telescope in your planetarium:</p>
	
	<ul>
	    <li><a href="@Model.ResLoc/Content/Planetariums/Tour Template.docx">Tour Template</a>: download the storyboard template for designing and building WWT tours</li>
		<li><a href="/Planetariums/DomeProject">WorldWide Telescope Dome Projects</a>: learn how a small, on-site domes can provide an affordable, high-quality planetarium experience for educational settings</li>
		<li><a href="@Model.ResLoc/Content/Planetariums/WWT Multi Channel Setup v1.5.pdf">Multi Channel Setup</a>: read how to set up a multi-channel display for use in a dome or frustum environment</li>
		<li><a href="@Model.ResLoc/Content/Planetariums/Controller Mapping.pdf">Xbox Controller Resources</a>: see how users can run WWT with an Xbox controller</li>
		<li><a href="https://wwtweb.blob.core.windows.net/drops/WWTRemote.5.0.0.msi">WWT Remote Control</a>: this utility enables remote operations of WWT and helps you control multiple machine clusters and multi-monitor configurations for multi-channel domes and powerwall high-resolution displays</li>
	</ul>

