<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
  </configSections>

  <configBuilders>
    <builders>
      <add name="Environment" mode="Greedy" type="Microsoft.Configuration.ConfigurationBuilders.EnvironmentConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Environment"/>
      <add name="Secrets" userSecretsId="wwt_config" mode="Greedy" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="KeyVault" vaultName="${KeyVaultName}" optional="true" type="Microsoft.Configuration.ConfigurationBuilders.AzureKeyVaultConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Azure, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </builders>
  </configBuilders>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.8">
      <assemblies>
        <add assembly="WWT.Providers"/>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
        <add assembly="System.IdentityModel.Services"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" maxRequestLength="2048000"/>
    <httpCookies sameSite="Lax"/>
    <customErrors mode="Off"/>
    <sessionState timeout="4320" mode="Custom" customProvider="RedisSessionStateStore" cookieless="false" cookieSameSite="Lax">
      <providers>
        <add name="RedisSessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" settingsClassName="RedisConfig" settingsMethodName="GetConnectionString"/>
      </providers>
    </sessionState>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <staticContent>
      <mimeMap fileExtension=".wwtl" mimeType="application/wwtl"/>
      <mimeMap fileExtension=".wtt" mimeType="application/wtt"/>
      <mimeMap fileExtension=".wwtmm" mimeType="application/wwtmm"/>
      <mimeMap fileExtension=".wtml" mimeType="application/wtml"/>
      <!--<mimeMap fileExtension=".msi" mimeType="application/msi" />-->
    </staticContent>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="/Support/Error" responseMode="ExecuteURL"/>
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE"/>
        <add name="Access-Control-Allow-Headers" value="LiveUserToken,Content-Type,Content-Encoding,Content-Disposition"/>
        <!--Content-Disposition: form-data; name="data"; filename="blob"
Content-Type: application/x-wt-->
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="256000000"/>
      </requestFiltering>
    </security>
    <handlers>
      <add name="wwtweb" verb="*" path="wwtweb/*" type="WWTMVC5.WwtWebHttpHandler, WWTMVC5" preCondition="managedHandler"/>
      <add name="v2" verb="*" path="v2/*" type="WWTMVC5.WwtWebHttpHandler, WWTMVC5" preCondition="managedHandler"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
      <remove name="Session"/>
      <add name="Session" type="Microsoft.AspNet.SessionState.SessionStateModuleAsync, Microsoft.AspNet.SessionState.SessionStateModule, Version=1.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode"/>
    </modules>
  </system.webServer>

  <appSettings configBuilders="Environment,Secrets,KeyVault">
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="FromEmailAddress" value=""/>
    <add key="SupportEmailAddress" value=""/>
    <add key="SmtpServer" value=""/>
    <add key="ResourcesVersion" value="5.5.21"/>

    <!--private settings-->
    <add key="LiveClientId" value=""/>
    <add key="LiveClientSecret" value=""/>
    <add key="LiveClientRedirectUrl" value=""/>
    <add key="WWTWebBlobs" value=""/>
    <add key="EarthOnlineEntities" value=""/>
    <add key="EarthOnlineStorage" value=""/>
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value=""/>
    <add key="twitterId" value=""/>

    <!--layerscape-->
    <add key="PrimaryContainer" value="contentcontainer"/>
    <add key="ThumbnailContainer" value="thumbnailcontainer"/>    
    <add key="TemporaryContainer" value="temporarycontainer"/>
    <add key="NotificationContainer" value="notificationcontainer"/>
    <add key="AssetContainer" value="assets"/>
    <add key="LatestTourFileDays" value="90"/>
    <add key="EntitiesPerUser" value="8"/>
    <add key="PermissionsPerPage" value="8"/>
    <add key="MinRatedPeopleCount" value="2"/>
    <add key="TotalPagesShown" value="5"/>
    <add key="ContactUsUrl" value=""/>
    <add key="ThumbnailFileExtensions" value=".png, .jpg, .jpeg"/>
    <add key="VideoFileExtensions" value=".wmv, .mp4"/>
    <add key="ObjectsConn" value=""/>
    <add key="ToursConn" value=""/>
    <add key="LoggingConn" value=""/>
    <add key="SmtpServer" value=""/>
    <add key="FromEmailAddress" value=""/>
    <add key="SupportEmailAddress" value=""/>
    <add key="AstroObjectsDBConnectionString" value=""/>
    <add key="WWTToursDBConnectionString" value=""/>
    <add key="TourVersionCheckIntervalMinutes" value="1"/>
    <add key="CompleteFlushIntervalMinutes" value="10"/>
    <add key="FileABug" value="True"/>
    <add key="LoginTracking" value="True"/>
    <add key="WebKey" value=""/>
    <add key="HomePageCacheTimeout" value="5"/>

    <!-- Logging -->
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value=""/>

    <!-- Azure storage access for plate files. Storage account can be a URL or a connection string -->
    <add key="UseAzurePlateFiles" value="false"/>
    <add key="MarsStorageAccount" value="https://127.0.0.1:10000/devstoreaccount1"/>
    <add key="AzurePlateFileStorageAccount" value="https://127.0.0.1:10000/devstoreaccount1"/>
    <add key="PlateFileContainer" value="coredata"/>
    <add key="KnownPlateFile" value="known_plate_files.txt"/>

    <!-- Thumbnail options -->
    <add key="ThumbnailContainer" value="thumbnails"/>
    <add key="DefaultThumbnail" value="star"/>

    <!-- Catalog options -->
    <add key="CatalogContainer" value="catalog"/>

    <!-- Tour options -->
    <add key="TourContainer" value="coretours"/>

    <!-- ImagesTiler options -->
    <add key="ImagesTilerContainer" value="imagestiler"/>

    <!-- Caching settings -->
    <add key="UseCaching" value="false"/>
    <add key="RedisConnectionString" value=""/>
    <add key="SlidingExpiration" value="1.00:00:00"/>

    <!-- Overridden with Configuration Builders -->
    <add key="TourCache" value=""/>
    <add key="WWTTilesDir" value=""/>
    <add key="DssTerapixelDir" value=""/>
    <add key="DataDir" value=""/>
    <add key="WWTDEMDIR" value=""/>
    <add key="WWT2DIR" value=""/>
    <add key="WWTWEBDIR" value=""/>
    <add key="WWTTOURCACHE" value=""/>
    <add key="DSSTileCache" value=""/>
    <add key="WWTToursTourFileUNC" value=""/>
    <add key="DSSTOASTPNG" value=""/>
    <add key="WWTGALEXDIR" value=""/>
    <add key="PlanetariumEmailAddress" value=""/>
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WWTMVC5.WebServices.LiveIdAuthAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EndpBehavior">
          <webHttp/>
        </behavior>
        <behavior name="WWTMVC5.WebServices.Auth0AspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="WWTMVC5.ValidateJsonWebToken, WWTMVC5"/>
        </behavior>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="WWTMVC5.WebServices.LiveIdAuth">
        <endpoint address="" behaviorConfiguration="WWTMVC5.WebServices.LiveIdAuthAspNetAjaxBehavior" binding="webHttpBinding" contract="WWTMVC5.WebServices.LiveIdAuth"/>
      </service>
    </services>
  </system.serviceModel>
  <system.identityModel>
    <identityConfiguration>
      <securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <!-- TODO: The MachineKeySessionSecurityTokenHandler makes use of the machine key. Please configure that from system.web/machineKey -->
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0A613F4DD989E8AE" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.16.1.0" newVersion="4.16.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Identity" publicKeyToken="92742159E12E44C8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159E12E44C8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
