
<li class="@(ViewBag.page == "Index" ? "active" : "")"><a href="/Planetariums/">Planetariums Home</a></li>

<li class="@(ViewBag.page == "Resources" ? "active" : "")"><a href="/Planetariums/Resources">Resources</a></li>
<li class="@(ViewBag.page == "DomeProject" ? "active" : "")"><a href="/Planetariums/DomeProject">WWT Dome Projects</a></li>
<li class="@(ViewBag.page == "WWTPlanetarium" ? "active" : "hide")"><a href="/Planetariums/WWTPlanetarium">WWT Planetarium</a></li>
