
@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@*<li class="active"><a href="javascript:void(0)">Contact Us</a></li>*@
}
@*<section>
	<h1>Corporate Headquarters</h1>
	<h3>Address:</h3>
	<p>Please include the recipient's first and last name, or the department name.<br/>
	Microsoft Corporation<br/>
	One Microsoft Way<br/>
	Redmond, WA 98052-6399</p>
</section>*@
<script>
    location.href = '/';
</script>