
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    @RenderSection("head", required: false)
}
<div class="row">
	<div class="col-md-3">
		<div class="bs-sidebar" id="cellLeftNav">
			<ul class="nav bs-sidenav">
				@RenderSection("leftnav", required: false)

			</ul>
		</div>
	</div>
	<div class="col-md-9">
		<section class="content">
			@RenderBody()
		</section>

	</div>
</div>