<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5>About</h5>
                <ul>
                    <li class="small"><a href="/about/">About WWT</a></li>
                    <li class="small"><a href="https://numfocus.org/" target="_blank">NumFOCUS</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
            </div>

            <div class="col-sm-4">
                <h5>Support</h5>
                <ul>
                    <li class="small"><a href="/connect/">Connect</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
