
@{
    ViewBag.Title = "Communities";
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
    @Html.Partial("~/Views/Profile/LeftNav.cshtml")
}


<h2>Communities</h2>
<p>Content TBA. (stub page)</p>
