<li class="@(ViewBag.page == "Index" ? "active" : "")"><a href="/Profile/">Profile Home</a></li>
<li class="@(ViewBag.page == "Communities" ? "active" : "")"><a href="/Profile/Communities">Communities</a></li>
