  <style>
<!--
/* Style Definitions */


p,div
	{
	margin-top:0pt;
	margin-bottom:7.5pt;
	font-size:8.5pt;
	font-family:"Verdana";
	}
	
dl
{
	margin-top: 0.0pt;
	margin-bottom:12.0pt
}
	
li
{
	margin-left: 12.0pt;
	margin-top: 0;
	margin-bottom: 2.0pt;
	font-size: 8.5pt;
	font-family: "Verdana";
	text-indent: 0;
}
	
	
p.Link, div.link
{
	margin-top:0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Verdana";
	color:#3366FF;
}


.file 
{
   	border-color:#778899;
   	border-width:1px;
   	border-style:solid;
  	background-color:#e6e6fa;
   	padding:25px;
   	margin:30px;
   	font-size:10.0pt;
	font-family:"Courier New";
}

li.Link
{
	margin-top:0pt;
	margin-bottom:.0001pt;
	font-size:8.5pt;
	font-family:"Verdana";
	color:#3366FF;
}

hr
{
	margin-top:12.0pt;
	margin-bottom:12.0pt
}
	
img
{
	margin-top:6.0pt;
	margin-bottom:6.0pt
}
	
img.tag
{
	margin-top:6.0pt;
	margin-bottom:0.0pt
}

h1
{
	margin-top: 10.0pt;
	margin-right: 0pt;
	margin-bottom: 12.0pt;
	margin-left: 0pt;
	text-align: left;
	line-height: 150%;
	page-break-after: avoid;
	font-size: 14.0pt;
	font-weight: normal;
	font-family: "Verdana";
	color: black;
}

h2
{
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 1.0pt;
	margin-left: 0pt;
	text-align: left;
	line-height: 150%;
	page-break-after: avoid;
	font-size: 10.5pt;
	font-weight: bold;
	font-family: "Verdana";
	color: black;
}

h3
{
	margin-top: 12.0pt;
	margin-right: 0pt;
	margin-bottom: 1.0pt;
	margin-left: 0pt;
	text-align: left;
	page-break-after: avoid;
	font-size: 9.0pt;
	font-family: "Verdana";
	color: #454545;
}

h4
{
	margin-top:12.0pt;
	margin-right:0pt;
	margin-bottom:0.0pt;
	margin-left:0pt;
	text-align:left;
	page-break-after:avoid;
	font-size:10.0pt;
	font-weight:bold;
	font-family:"Verdana";
	color:black;
}

h5
{
	margin-top:0.3pt;
	margin-right:0pt;
	margin-bottom:0.0pt;
	margin-left:0pt;
	text-align:left;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Verdana";
	color:black;
}

h6
{
	margin-top: 12.0pt;
	margin-right: 0.0pt;
	margin-bottom: 5.0pt;
	margin-left: 0pt;
	text-align: left;
	page-break-after: avoid;
	font-size: 8.0pt;
	font-weight: normal;
	font-style: italic;
	font-family: "Verdana";
	color: black;
}

h7
{
	margin-top:0.3pt;
	margin-right:0pt;
	margin-bottom:0.0pt;
	margin-left:0pt;
	text-align:left;
	page-break-after:avoid;
	font-size:10.0pt;
	font-weight:normal;
	font-style:italic;
	font-family:"Verdana";
	color:black;
}

CODE
{
	margin:0pt;	
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-weight:400;
	font-family:"Courier New";
	/*color:#000000;*/
}


A:Hover
{
	color:#4682b4;
}


BODY
{
	margin-left: 30.0pt;
	background: #f5f5f5;
	margin-top: 0pt;
	margin-bottom: 8.0pt;
	width: 670px;
	font-size: 8.5pt;
	line-height:140%;
	font-family: "Verdana";
}


@page Section1
{
	margin:72.0pt 90.0pt 72.0pt 90.0pt;
}


div.Section1
{
}


table.T1
{	
	border-collapse: collapse;
	border:1.0pt;
	background-color: #e3e3e3;
	border-color: black;
	border-style: inset;
	margin-top:20.0pt;
	margin-bottom:20.0pt;
	margin-left:40.0pt;
	margin-right:20.0pt;
	width: 670px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9.5pt;
	color: #000000;
}

table.T2
{	
	border-collapse: collapse;
	border:1.0pt;
	background-color: #e3e3e3;
	border-color: black;
	border-style: inset;
	margin-top:20.0pt;
	margin-bottom:20.0pt;
	margin-left:40.0pt;
	margin-right:20.0pt;
	width: 800px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9.5pt;
	color: #000000;
}

table.T3
{	
	border-collapse: collapse;
	border:1.0pt;
	background-color: #e3e3e3;
	border-color: black;
	border-style: inset;
	margin-top:20.0pt;
	margin-bottom:20.0pt;
	margin-left:40.0pt;
	margin-right:20.0pt;
	width: 1000px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9.5pt;
	color: #000000;
}

table.Tfile
{    	
	border-color:#778899;
   	border-width:1px;
   	border-style:solid;
   	background-color:#e6e6fa;
   	padding:25px;
	margin:30px;
	margin-top:20.0pt;
	margin-bottom:20.0pt;
	margin-left:20.0pt;
	margin-right:20.0pt;
    font-size:10.0pt;
	font-family:"Courier New";
	text-align:left;
}
	 
	 
tr 
{
	vertical-align:top;
}

td
{
	font-size: 8.5pt;
	line-height:140%;
	font-family: "Verdana";
}

-->
  </style>