@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";

}
@section leftnav{
	@Html.Partial("~/Views/About/LeftNav.cshtml")
}

<section>
	<h1 class="text-info">Frequently Asked Questions</h1>
	
 <ul>
	<li><a class=reg href=#faq1>What is WorldWide Telescope?</a></li>
	<li><a class=reg href=#faq1.1>What is the WorldWide Telescope Web Client?</a></li>
	<li><a class=reg href=#faq2>What are some of the most compelling features of WorldWide Telescope?</a></li>
	<li><a class=reg href=#faq2.1>What is unique about the Terapixel sky image?</a></li>
	<li><a class=reg href=#faq2.2>What is included in the new Mars features?</a></li>
	<li><a class=reg href=#faq3>Does WorldWide Telescope provide real-time data?</a></li>
	<li><a class=reg href=#faq4>What are the system requirements for running WorldWide Telescope?</a></li>
	<li><a class=reg href=#faq5>Is WorldWide Telescope available in other languages?</a></li>
	<li><a class=reg href=#faq6>What is the Microsoft Visual Experience Engine?</a></li>
	<li><a class=reg href=#faq7>Who are some of your partners with WorldWide Telescope?</a></li>
	<li><a class=reg href=#faq10>Is this an extension of Jim Gray’s work?</a></li>
</ul>
</section>
<section>
	<h3><a name=faq1></a>Q. What is WorldWide Telescope?</h3>
	<p>A. The WorldWide Telescope is a rich visualization environment that functions as a virtual telescope, bringing together imagery from the best ground- and space-based telescopes to enable seamless, guided explorations of the universe. WorldWide Telescope, created with Microsoft’s high-performance Visual Experience Engine, enables seamless panning and zooming across the night sky blending terabytes of images, data and stories from multiple sources over the Internet into a media-rich, immersive experience. The WorldWide Telescope experience scales from a web browser all the way to multi-channel full dome in some of the world's most advanced planetariums. </p>
	<p><a href=#top>Top</a></p>
	<h3><a name=faq1.1></a>Q. What is the WorldWide Telescope Web Client?</h3>
	<p>A. The WorldWide Telescope Web Client uses HTML5 to provide a rich browser-based version of WorldWide Telescope that that functions as a virtual telescope, bringing together imagery from the best ground- and space-based telescopes to enable seamless, guided explorations of the universe from within a web browser. This version contains a subset of the features that the Windows Client offers. Navigate here to learn more about the <a href="/About/WebClient">Web Client</a>.</p>
	<p><a href=#top>Top</a></p>
	<h3><a name=faq2></a>Q. What are some of the most compelling features of WorldWide Telescope?</h3>
	<p>A. WorldWide Telescope is an observatory on your desktop, allowing you to see the sky in a way you have never seen it before through individual exploration; multi-wavelength views; stars and planets within context to each other; the ability to zoom in and out; and the capability to create, search and view guided tours of the universe. You can view the entire solar system in 3-D with light and shadows created from the sun, and can explore the Earth and Mars in incredible detail. You also can watch planets orbit around the sun, and moons orbit around planets. The Visual Experience Engine delivers seamless panning and zooming around the night sky, now enhanced with the TeraPixel sky image that provides an unmatched panorama of the heavens. WorldWide Telescope delivers seamless integration of scientifically relevant information, including multi-wavelength, multiple-telescope distributed image and data sets, and one-click contextual access to distributed Web information and data sources. </p>
    <p><a href=#top>Top</a></p>
	<h3><a name=faq2.1></a>Q. What is unique about the Terapixel sky image?</h3>
	<p>A. The Terapixel sky image is a seamless, high-resolution panorama of the night sky. This first of a kind feature provides the largest and highest-quality visual image of the sky and was created from data provided by the Digitized Sky Survey, a collection of thousands of images taken over period of 50 years by two ground-based survey telescopes. When combined and processed, the TeraPixel image is a complete, spherical, panoramic rendering of the night skies that, if displayed at full size, would require 50,000 high-definition televisions to view. Using the Project Trident Workflow Workbench and the DryadLINQ interface for .NET, Microsoft Researchers combined thousands of images and systematically removed differences in exposure, brightness, noise floor, and color saturation, and they eliminated the “tiling effect” of sharp-edged boundaries between discrete telescopic photographs.</p>
    <p><a href=#top>Top</a></p>
	<h3><a name=faq2.2></a>Q. What is WWT | Mars? </h3>
	<p>A. WWT | Mars is an intricate Mars environment map with new, high-resolution imagery data that allows for an up-close and personal encounter with the Red Planet. These new high quality, high-resolution images provide the ability to navigate through space dynamically to make your own discoveries. Provided through a collaborative relationship with NASA, the WWT | Mars experience includes the most complete pole-to-pole coverage of Mars images available allowing WorldWide Telescope users to experience Mars in 3-D.</p>
    <p><a href=#top>Top</a></p>
	<h3><a name=faq3></a>Q. Does WorldWide Telescope provide real-time data?</h3>
	<p>A. WorldWide Telescope shows you where items are in space today but all the images are from different ground- and space-based telescopes, and that content is from varying times in the past.</p>
    <p><a href=#top>Top</a></p>
	<h3><a name=faq4></a>What are the system requirements for running WorldWide Telescope?</h3>
	<p>Refer to the system requirements section on the <a href="/Download/"> WWT Download page</a>.</p>
    <p><a href=#top>Top</a></p>
	<h3><a name=faq5></a>Is WorldWide Telescope available in other languages?</h3>
	<p>A. Yes, WorldWide Telescope offers fully-localized user-interfaces for Simplified Chinese, German, Russian, Hindi, Spanish and other language versions of the Windows Client. To change your language, install the Windows Client, then choose the “Select Your Language” option from the Settings menu.</p>
    <p><a href=#top>Top</a></p>
	<h3><a name=faq6></a>What is the Microsoft Visual Experience Engine?</h3>
	<p>A. The Microsoft Visual Experience Engine is the technology that enables seamless panning and zooming across the night sky, blending terabytes of images, data and stories from multiple sources over the Internet into a media-rich, immersive experience. </p>
    <p><a href=#top>Top</a></p>
	<h3><a name=faq7></a>Who are some of your partners with WorldWide Telescope?</h3>
	<p>A. We are working with a variety of partners in the academic, educational and scientific communities to make WorldWide Telescope a success. </p>
    <p><a href=#top>Top</a></p>
	<h3><a name=faq10></a>Is this an extension of Jim Gray’s work?</h3>
	<p>A. Yes. Jim Gray spent his life perfecting database and transaction processing systems, and he was committed to using technology to advance education. His seminal work on the SkyServer typified his dedication to making scientific information and exploration available to specialists and laypeople alike, and WWT is an ongoing extension of this work.</p>
    <p><a href=#top>Top</a></p>
</section>


