
@{
    Layout = "~/Views/Shared/_ContentPage.cshtml";
    
}
@section leftnav{
   @Html.Partial("~/Views/About/LeftNav.cshtml")
}

<section>
    <h1 class="text-info"><a id="name">About</a></h1>
    <p>The WorldWide Telescope (WWT) is a visualization environment that enables your computer to function as a virtual telescope—bringing together imagery from the world’s best ground- and space-based telescopes for the exploration of the universe. WWT blends terabytes of images, information, and stories from multiple sources into a seamless, immersive, rich media experience.  Explorers of all ages will feel empowered to explore and understand the cosmos using WWT’s simple and powerful user interface.</p>
    <p>The mission of the WorldWide Telescope is twofold:</p>
<ul>
    <li>To aggregate scientific data from major telescopes, observatories, and institutions and make temporal and multi-spectral studies available through a single, cohesive Internet–based portal</li>
    <li>To stimulate interest in science among younger generations, providing a compelling base for teaching astronomy, scientific discovery, and computational science</li>
</ul>
    <p>WorldWide Telescope is dedicated to the memory of Jim Gray. It is a free, open-source resource to the astronomy and education communities with the hope that it will inspire and empower people to explore and understand the universe like never before.</p>
</section>



<section>
    <h1 class="text-info"><a id="whoweare">Who We Are</a></h1>
    <h2>Developers</h2>
    Jonathan Fay, Lead Architect <br />
    Ron Gilchrist, Web Developer


    <h2>WWT Advisory Board</h2>
    <h4>Education</h4>
    Pat Udomprasert (Lead) <br />
    Robert Hurt<br />
    Erin Johnson<br />
    Frossie Economou<br />
    Sarah Block<br />

    <h4>Planetariums and Museums</h4>
    Doug Roberts (Lead)<br />
    Mark SubbaRao<br />
    Ryan Wyatt<br />
    David Weigel<br />

    <h4>Software Development</h4>
    Jonathan Fay (Lead)<br />
    Cristine Donnelly<br />
    Karl Fogel<br />
    Ron Gilchrist<br />
    Matt Turk<br />
    Martin Woodward<br />
    Curtis Wong<br />

    <h4>Astronomical Research</h4>
    Phil Rosenfield (Lead)<br />
    Andy Connelly<br />
    Alyssa Goodman<br />
    Morgan Griffith<br />
    Bryan Heidorn<br />
    Susanna Kohler<br />
    Knut Olsen<br />
    Fred Rasio<br />
    Gretchen Stahlman<br />
    Julie Steffen<br />

    <h4>International Partnerships</h4>
    Chen-Zhou Cui (Lead)<br />
    Jaap Vreeling<br />

    <h2>AAS Steering Committee</h2>
    Chick  Woodward (Chair) <br />
    Amanda Bauer <br />
    Jessica Kirkpatrick <br />
    Sarah Loebman <br />
    Meg Schwamb

</section>



