@using System.Web.UI.WebControls

<li class="@(ViewBag.page == "Index"?"active":"")"><a href="/About/">About</a></li>
<li class="@(ViewBag.page == "FAQ"?"active":"")"><a href="/About/FAQ">FAQ</a></li>
<li class="@(ViewBag.page == "Acknowledgments" ? "active" : "")"><a href="/About/Acknowledgments">Acknowledgments</a></li>

