@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";

}
@section leftnav{
	@Html.Partial("~/Views/About/LeftNav.cshtml")
}

<section>
	<h1>WorldWide Telescope Web Client</h1>
	<p>Explore the sky with the WorldWide Telescope Web Client. The Web Client is a browser-based version of WorldWide Telescope which can run across a variety of systems including desktops, laptops and tablets on any HTML5 or Silverlight compatible browser.  The WorldWide Telescope Web Client offers a subset of the features of the WorldWide Telescope Windows Application.</p>
	<h3><a href="javascript:location.href = wwt.wcLink">Launch the WWT HTML5 Web Client</a></h3>
	<h3><a href="/webclient/?client=silverlight">Launch the WWT Silverlight Web Client</a></h3>
</section>


