@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	<li class="active"><a href="javascript:void(0)">Upgrade WWT</a></li>
}


<h1>Important upgrade</h1>
<p>This content to be updated - relating to mandatory WWT client upgrade.</p>
 
