
@{
    Layout = "~/Views/Shared/_ContentPage.cshtml";

}
@section leftnav{
    @Html.Partial("~/Views/About/LeftNav.cshtml")
}

<section>
    <h1 class="text-info">Data in WWT</h1>
    <p>Utilizing a high performance Visual Experience Engine, WorldWide Telescope allows you explore the universe as never before. It enables you to seamlessly pan the sky and to zoom in on celestial features, including stars, nebulae, and planets. For every object, you’ll find multiple information sources at your fingertips, just a mouse click away.</p>
    <p>To understand the full power of WWT, bear in mind that celestial objects radiate energy over an extremely wide range of wavelengths, from radio waves to infrared, optical to ultraviolet, even x-rays and even gamma rays. The physical processes inside these objects can only be understood by combining observations at several wavelengths, and herein lies the beauty of WWT. It brings together many impressive archives of celestial objects – collections painstakingly constructed from observations by such instruments as the Hubble Space Telescope, the Chandra X-Ray Observatory, the Sloan Digital Sky Survey (SDSS), and the Two Micron All Sky Survey (2MASS).</p>
    <p>While each of these archives carries interesting and important information about the nature of celestial objects, the comprehensive analysis of observations requires combining data from multiple instruments at different wavelengths. WWT facilitates such analyses, providing free, public access to astronomic data from a variety of temporal and multi-spectral studies and literature. With WWT, you’ll view the sky from multiple wavelengths: See the x-ray view of the sky and zoom into bright radiation clouds, then cross-fade into the visible light view and discover the cloud remnants of a supernova explosion from a thousand years ago. Switch to the hydrogen alpha view to see the distribution and illumination of massive primordial hydrogen cloud structures illuminated by high energy radiation from nearby stars in the Milky Way. These are just a few of many different ways to reveal the hidden structures in the universe with the WorldWide Telescope. Pan and zoom from aerial views of the Moon and selected plane, and see their precise positions in the sky from any location on Earth and any time in the past or future. </p>
    <p>The data in WWT is not only readily accessible; it is presented in a form that facilitates integrative research, thereby helping to bridge the gap between cutting-edge research, education, and public knowledge. WWT represents a major step toward the democratization of science, and it has turned the Internet into "the world´s best telescope"—a veritable supercomputer at your desktop.</p>
</section>
<section>
    <h2>The Mars Experience</h2>
    <p>The Mars experience utilizes more than 13,000 high-resolution images captured by a number of NASA’s Mars spacecraft, including the Mars Reconnaissance Orbiter. These incredibly detailed images have been stitched together and rendered in 3-D by NASA’s Intelligent Robotics Group, enabling WWT to create the only pole-to-pole, three-dimensional experience of the Red Planet. In addition, the surface map has been color corrected to match the latest estimates of the planet’s appearance, adding yet more realism to your experience. And to complement your exploration, leading astronomers have created interactive guided tours of Mars, so get ready for a lifelike experience of the Red Planet. </p>
    <p>Special features as you investigate our planetary neighbor:</p>
    <h3>A True-Color Map of Mars</h3>
    <p>The surface map of Mars has been built and color-corrected to match modern estimates of the appearance of Mars. It is made up of images taken from a variety of NASA’s Mars spacecraft, including the High-Resolution Imaging Science Experiment (HiRISE) on board NASA’s Mars Reconnaissance Orbiter. </p>
    <h3>3-D Rendering of the Surface</h3>
    <p>Visitors to the WorldWide Telescope can now have the experience of flying though a 3-D rendering of Victoria Crater and Olympus Mons – the lowest valley and highest peak in our solar system - and can experience firsthand the extreme elevation and intricate features of the Martian surface.</p>
    <h3>Exclusive Interactive Tours</h3>
    <p>Microsoft Research has provided a set of exclusive interactive Mars tours, including an overview of the WWT Mars experience and Mars’ moons. NASA has also published two Mars tours.</p>
</section>