
@{
    Layout = "~/Views/Shared/_ContentPage.cshtml";
    
}
@section leftnav{
   @Html.Partial("~/Views/About/LeftNav.cshtml")
}

<section>
    <h1>About</h1>

    The purpose of the American Astronomical Society's WorldWide Telescope project is to enable the seamless visualization and sharing of scientific data and stories from major telescopes, observatories, and institutions among students and researchers, through science museums and full-dome immersive planetariums,  and in scholarly publications.


</section>



<section>
    <h1>Who We Are</h1>
    <h2>Developers</h2>
    Jonathan Fay, Lead Architect <br />
    Ron Gilchrist, Web Developer


    <h2>WWT Advisory Board</h2>
    <h4>Education</h4>
    Pat Udomprasert (Lead) <br />
    Robert Hurt<br />
    Erin Johnson<br />
    Frossie Economou<br />
    Sarah Block<br />

    <h4>Planetariums and Museums</h4>
    Doug Roberts (Lead)<br />
    Mark SubbaRao<br />
    Ryan Wyatt<br />
    David Weigel<br />

    <h4>Software Development</h4>
    Jonathan Fay (Lead)<br />
    Cristine Donnelly<br />
    Karl Fogel<br />
    Ron Gilchrist<br />
    Matt Turk<br />
    Martin Woodward<br />
    Curtis Wong<br />

    <h4>Astronomical Research</h4>
    Phil Rosenfield (Lead)<br />
    Andy Connelly<br />
    Alyssa Goodman<br />
    Morgan Griffith<br />
    Bryan Heidorn<br />
    Susanna Kohler<br />
    Knut Olsen<br />
    Fred Rasio<br />
    Gretchen Stahlman<br />
    Julie Steffen<br />

    <h4>International Partnerships</h4>
    Chen-Zhou Cui (Lead)<br />
    Jaap Vreeling<br />

    <h2>AAS Steering Committee</h2>
    Chick  Woodward (Chair) <br />
    Amanda Bauer <br />
    Jessica Kirkpatrick <br />
    Sarah Loebman <br />
    Meg Schwamb

</section>

<section>
    <h4>Dedication</h4>
    <p>WorldWide Telescope is dedicated to the memory of Jim Gray with the hope that it will inspire and empower people to explore and understand the universe like never before.</p>
</section>

