@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Educators/LeftNav.cshtml")
}

	<h1>Educators</h1>
	<p> WorldWide Telescope (WWT) is a stunningly beautiful and freely available tool offering immersive views of the sky and multimedia links to interactive descriptions and explanations of millions of celestial objects.  WWT helps students visualize and understand our vast cosmos, inspiring learners to explore, to ask questions, and to practice the scientific skills that astronomers use to build our understanding of objects that are literally across the universe.</p>
	<p><img src="@Model.ImgDir/wwta_educator.jpg" alt="WWT Ambassadors in Education" class="img-responsive"/> </p>
