@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Educators/LeftNav.cshtml")
}




<h1>WorldWide Telescope Ambassadors</h1>
<p>The WorldWide Telescope Ambassadors program is a great resource to get your students engaged with WorldWide Telescope. </p>
<p>Visit the WWT Ambassadors website: <a href="http://wwtambassadors.org" target="_blank">www.wwtambassadors.org</a></p>
<p></p>
    
