
@{
    ViewBag.Title = "Eclipse2017";
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
    @Html.Partial("~/Views/News/LeftNav.cshtml")
}
<h1>Visualizing the 2017 Total Solar Eclipse</h1>
<p>On Monday, August 21, 2017 millions of people all across the United States will have an opportunity to see a total Solar Eclipse from the west to east coast.&nbsp; WorldWide Telescope can be used to visualize the eclipse in various ways.&nbsp; From the ground at a specific location or from space looking down at the Earth.&nbsp; Here are some assets to help prepare for the eclipse that you can use to prepare for or tell the story of this total solar eclipse.</p>
<p>Tours. Note, that currently running these tours requires the use of the Windows Desktop Client.&nbsp; Playback in the WWT web client will be possible in early fall of 2016.</p>
<ul>
    <li><a href="https://wwtweb.blob.core.windows.net/tours/Eclipse%202017%20-%20Eclipse%20over%20globe.wtt">Eclipse 2017 - Eclipse over globe</a></li>
    <li><a href="https://wwtweb.blob.core.windows.net/tours/Eclipse%202017%20-%20Eclipse%20over%20the%20Tetons.wtt">Eclipse 2017 - Eclipse over the Tetons</a></li>
    <li><a href="https://wwtweb.blob.core.windows.net/tours/Eclipse%202017%20-%20Multiple%20segments.wtt">Eclipse 2017 - Multiple segments</a></li>
    <li><a href="https://wwtweb.blob.core.windows.net/tours/Eclipse%202017%20-%20Orion%20over%20Tetons.wtt">Eclipse 2017 - Orion over Tetons</a></li>
    <li><a href="https://wwtweb.blob.core.windows.net/tours/Eclipse%202017%20-%20View%20of%20the%20Sun.wtt">Eclipse 2017 - View of the Sun</a></li>
</ul>
<p>Videos</p>
<ul>
    <li><a href="https://wwtweb.blob.core.windows.net/videos/Eclipse%202017%20-%20Eclipse%20over%20globe.mp4">Eclipse 2017 - Eclipse over globe</a></li>
    <li><a href="https://wwtweb.blob.core.windows.net/videos/Eclipse%202017%20-%20Eclipse%20over%20the%20Tetons.mp4">Eclipse 2017 - Eclipse over the Tetons</a></li>
    <li><a href="https://wwtweb.blob.core.windows.net/videos/Eclipse%202017%20-%20Orion%20over%20Tetons.mp4">Eclipse 2017 - Orion over Tetons</a></li>
    <li><a href="https://wwtweb.blob.core.windows.net/videos/Eclipse%202017%20-%20View%20of%20the%20Sun.mp4">Eclipse 2017 - View of the Sun</a></li>
</ul>
<p>We also have created a WWT community called &ldquo;Eclipse 2017&rdquo;.&nbsp; This community has the same tours and videos as the ones available on this page as well as other images, videos and tours contributed by educators, astronomers and others interested in astronomy.</p>
<ul>
    <li><a href="http://www.worldwidetelescope.org/Community/#/CommunityDetail/607941">http://www.worldwidetelescope.org/Community/#/CommunityDetail/607941</a>.</li>
    <li>Once you have joined this community, you can access this community and the tours it contains form the webclient or desktop client. Click on &ldquo;Community&rdquo; in the upper menu and then &ldquo;My Communities&rdquo; and then &ldquo;Eclipse 2017&rdquo;.&nbsp; Select the tour you want to watch and push play!</li>
    <li>Additional information on how to use communities is available <a href="http://www.worldwidetelescope.org/Learn/Authoring#usingcommunities">here</a>.</li>
</ul>
<p>Note, you have to be in a very narrow path to see the eclipse in totality!&nbsp; The path shown in WWT is created to show what the moon&rsquo;s shadow looks like on Earth from space, but the path where you can see totality and you should prepare exactly when to be where.&nbsp; More information on this eclipse is available: <a href="http://eclipse2017.org/">http://eclipse2017.org/</a>.</p>
