@{
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
    @Html.Partial("~/Views/News/LeftNav.cshtml")
}

<h1>Latest WWT News</h1>
<p>&nbsp;</p>
<h4><a href="news/planet9">WorldWide Telescope used to visualize orbit for possible new Planet Nine</a></h4>
<p>Caltech researchers Konstantin Batygin and Mike Brown have found evidence of a giant planet tracing a bizarre, highly elongated orbit in the outer solar system. The object, which the researchers have nicknamed Planet Nine, has a mass about 10 times that of Earth and orbits about 20 times farther from the sun on average than does Neptune...<a href="news/planet9">(Read more)</a>