<li class="@(ViewBag.page == "index"     ? "active" : "")"><a href="/news">WWT News</a></li>
<li class="@(ViewBag.page == "planet9"     ? "active" : "")"><a href="/news/planet9">WWT and Planet Nine</a></li>
