
@{
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
    @Html.Partial("~/Views/News/LeftNav.cshtml")
}

<h1>WWT On-line Training</h1>
<p>The WWT Team will be carrying out a monthly series of web-based training sessions on various topics.&nbsp; This training will take place using YouTube Live.&nbsp; The training will be kept short &mdash; only 30 minutes, so we hope you can fit this into your monthly schedules.&nbsp; These trainings are intended to be interactive between the presenter and the participants so please ask questions!</p>
<p>We will edit each session down to 5 minutes for off-line viewing and over time will create a series of video tutorials.</p>
<p>If you have a topic you would like to see covered in 2017 or if you would like to present one yourself, please contact: <a href="mailto:wwt@aas.org">wwt@aas.org</a>.</p>
<p>A current list for these training sessions is available at: <a href="http://wwtworkshops.org/?page_id=260">http://wwtworkshops.org/?page_id=260</a> and also provided below.</p>
<hr />
<h4><strong>Web based tour authoring</strong></h4>
<p><strong>Tuesday, September 13, 3:00-3:30pm Eastern</strong></p>
<p><strong>Doug Roberts (AAS)</strong></p>
<p>The newest feature of WorldWide Telescope is the ability to create a tour completely on-line using only your web browser.&nbsp; This means you can make a tour on any operating system and no longer require the use of the WWT Windows Desktop Client.&nbsp;&nbsp; Sharing is also much easier with the ability to save to the cloud using the built-in WWT Communities system or to a local file.&nbsp; This workshop is targeted at people who have never create a tour before, especially researchers thinking about making visualizations to supplement their journal article.&nbsp; The AAS is encouraging creation and embedding of these tours for AAS journals.&nbsp; This training is also useful for anyone familiar with the older way of authoring using the Windows&nbsp;Desktop Client, to understand how the web authoring differs.</p>
<p>To join the live event, click here: <a href="https://youtu.be/DE0pAh9gdmk">https://youtu.be/DE0pAh9gdmk</a>.</p>
<hr />
<h4><strong>Orbits and Planet Nine</strong></h4>
<p><strong>Thursday,&nbsp;October 13, 3:00-3:30pm Eastern</strong></p>
<p><strong>Doug Roberts (AAS)</strong></p>
<p>Robert Hurt at IPAC used WWT was used to create a very nice video which was included in the press materials for the announcement of the paper in the Astronomical Journal &ndash; EVIDENCE FOR A DISTANT GIANT PLANET IN THE SOLAR SYSTEM &ndash; known to the public as Planet Nine.&nbsp; In order to create an interactive showing this orbits of Kuiper Belt Objects behind this discovery functionality was added to WWT to allow queries to the IAU Minor Planet Center.&nbsp; Orbits&nbsp;can be added and controlled to make the beautiful visuals and also reference frames for orbits which will allow you to place a 3D model of the body (e.g., Ceres or Vesta).&nbsp; Information on this specific topic is available&nbsp;here. We will review how to use this new functionality in the training event.</p>
<p>To join the live event, click here: <a href="https://youtu.be/4vrg-r1utao">https://youtu.be/4vrg-r1utao</a>.</p>
<hr />
<h4><strong>Adding your own FITS files</strong></h4>
<p><strong>Thursday,&nbsp;November 10, 3:00-3:30pm Eastern</strong></p>
<p><strong>Robert Hurt (IPAC)</strong></p>
<p>Abstract coming soon!</p>
<hr />
<h4><strong>Adding your own catalog data</strong></h4>
<p><strong>Thursday,&nbsp;December 8, 3:00-3:30pm Eastern</strong></p>
<p><strong>Mark SubbaRao (Adler/UofC)</strong></p>
<p>Abstract coming soon!</p>
<p>&nbsp;</p>