@{
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/News/LeftNav.cshtml")
}


<h1>WorldWide Telescope used to visualize orbit for possible new Planet Nine</h1>
<p>Caltech researchers Konstantin Batygin and Mike Brown have found evidence of a giant planet tracing a bizarre, highly elongated orbit in the outer solar system. The object, which the researchers have nicknamed Planet Nine, has a mass about 10 times that of Earth and orbits about 20 times farther from the sun on average than does Neptune.&nbsp;&nbsp; This new finding is of interest to people all over the globe and much of the story of this fascinating discovery has been told using WorldWide Telescope.&nbsp; Take a look at the <a href="https://youtu.be/6poHQ2h00ZA" target="external">YouTube video</a> which includes interview of the researchers as well as animations of orbits of smaller bodies in the outer solar system.&nbsp; The orbits of these smaller bodies are pulled from <a target="external" href="http://minorplanetcenter.net/iau/mpc.html">Minor Planet Center</a> and displayed in WWT.&nbsp; This was all put together by R. Hurt (IPAC) using WWT.</p>
<p>If you would like to incorporate aspects of this visualization into scientific communication and outreach, you can use WWT and the files below.&nbsp;</p>
<ul>
    <li>WWT Layer File: <a href="http://wwtweb.blob.core.windows.net/assets/Mike%20Brown%20Planet%209%20v4.wwtl">Mike Brown Planet 9 v4.wwtl</a></li>
    <li>Video created with WWT: <a href="http://wwtweb.blob.core.windows.net/videos/Planet9_anim.mp4">Planet9_anim.mp4</a></li>
    <li>WWT Tour file: Coming soon!</li>
</ul>
<p>For more information about the discovery itself, you can see the <a href="https://www.caltech.edu/news/caltech-researchers-find-evidence-real-ninth-planet-49523" target="external">original press release</a>.</p>