
<li class="@(ViewBag.page == "Index" ? "active" : "")"><a href="/Educators/">Educators Home</a></li>
<li class="@(ViewBag.page == "WWTA" ? "active" : "")"><a href="/Educators/WWTA">WWT Ambassadors</a></li>
