@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Educators/LeftNav.cshtml")
}




    <h1>WorldWide Telescope Ambassadors</h1>
    <p>The WorldWide Telescope Ambassadors program is a great resource to get your students engaged with WorldWide Telescope. </p>
    <p>Visit the WWT Ambassadors website: <a href="http://wwtambassadors.org" target="_blank">www.wwtambassadors.org</a></p>
    <p></p>
    <h3>Educator Resources</h3>
    <p>
        <a href="https://wwtambassadors.org/wwt/getting-started-classroom" target="_blank">Getting Started in the Classroom</a><br />
        <a href="https://wwtambassadors.org/wwt/classroom-resources" target="_blank">Classroom Resources</a><br />
        <a href="https://wwtambassadors.org/wwt/wwt-tours-lesson-plans" target="_blank">WWT Tours with Lesson Plans</a>
    </p>

