﻿@using System.Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head {
    <script src="@Model.JsDir/controls/util.js?v=@Model.ResVer"></script>
}
<div class="row" style="margin-top:125px;">
</div>
