@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Interact/LeftNav.cshtml")
}



<section>
    <h1>Debug</h1>
    
        <p id="txtIntro">Testing image collection</p>
    <div id="wwtControl"
         data-import-image="http://farm6.static.flickr.com/5216/5495030376_4c2965e0fe_b.jpg"></div>
    <script src="http://worldwidetelescope.org/embedded-webcontrol.js"></script>
    @*<div id="wwtControl"
         data-wtml="http://www.worldwidetelescope.org/wwtweb/ShowImage.aspx?reverseparity=False&scale=33.08750&name=barnardoph&imageurl=http%3A%2F%2Ffarm6.static.flickr.com%2F5216%2F5495030376_4c2965e0fe_b.jpg&credits=alyssa+goodman+(All+Rights+Reserved)&creditsUrl=&ra=246.421365149&y=512&x=512&rotation=178.34&dec=-23.6749819397&thumb=http%3A%2F%2Ffarm6.static.flickr.com%2F5216%2F5495030376_4c2965e0fe_t.jpg&wtml=true"
         data-display="Dropdown"></div>
    <script src="http://worldwidetelescope.org/embedded-webcontrol.js"></script>*@
    
</section>


   
