@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Use/LeftNav.cshtml")
}

	<h1>Educator Resources</h1>
	<p> WorldWide Telescope (WWT) is a stunningly beautiful and freely available tool offering immersive views of the sky and multimedia links to interactive descriptions and explanations of millions of celestial objects.  WWT helps students visualize and understand our vast cosmos, inspiring learners to explore, to ask questions, and to practice the scientific skills that astronomers use to build our understanding of objects that are literally across the universe.</p>
    <p>The WorldWide Telescope Ambassadors program is a great resource to get your students engaged with WorldWide Telescope. </p>
    <p>Visit the WWT Ambassadors website for tours, how to use WWT, and videos: <a href="http://wwtambassadors.org" target="_blank">www.wwtambassadors.org</a></p>

	<p><img src="@Model.ImgDir/wwta_educator.jpg" alt="WWT Ambassadors in Education" class="img-responsive"/> </p>
