@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Use/LeftNav.cshtml")
}


<h1>Researcher Resources</h1>
<i>The following resources are Windows only, similar features will be available in the Web Client soon.</i>

TODO: Astrolabe Project, Montage, toasty, Glue, VA guide.
<p> WorldWide Telescope enables new ways of visualization of observational data.  WWT can be used at all stages of research including observational analysis and exploration, as well as presentation.</p>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#vas">
                    Make a Video Abstract with WWT
                </a>
            </h4>
        </div>
        <div id="vas" class="panel-collapse collapse ">
            <div class="panel-body">

                <p>If you are intersted is using WWT to make a Video Abstract for an upcoming publication please see <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-advanced-guides/content/videoabstracts.html#videoabstracts">our guide.</a></p>
                <p>Example Video Abstracts that have used WWT:</p>
                <ul>
                    <li>
                        <a href="http://iopscience.iop.org/article/10.1088/2041-8205/807/1/L7/meta#artAbst">
                            Direct Imaging and Spectroscopy of a Young Extrasolar Kuiper Belt in the Nearest OB Association
                        </a>

                        Thayne Currie, Carey M. Lisse, Marc Kuchner, Nikku Madhusudhan, Scott J. Kenyon, Christian Thalmann, Joseph Carson, and John Debes, 2015 <em>ApJL</em> <b>807</b> L7
                    </li>
                    <li>
                        <a href="http://iopscience.iop.org/article/10.1088/2041-8205/801/2/L26/meta#artAbst">
                            Radio Continuum Observations of the Galactic Center: Photoevaporative Proplyd-like Objects Near Sgr A*
                        </a>
                        F. Yusef-Zadeh, D. A. Roberts, M. Wardle, W. Cotton, R. Schödel, and M. J. Royster, 2015 <em>ApJL</em> <b>801</b> L26
                    </li>
                    <li>
                        <a href="http://iopscience.iop.org/article/10.3847/0004-6256/151/2/22/meta" class="art-list-item-title">
                            Evidence for a Distant Giant Planet in the Solar System
                        </a>
                        Konstantin Batygin and Michael E. Brown, 2016 <em>AJ</em> <b>151</b> 22
                    </li>
                    <li>
                        <a href="http://iopscience.iop.org/article/10.1088/1538-3873/aa5456/meta" class="art-list-item-title">
                            The Application of the Montage Image Mosaic Engine To The Visualization Of Astronomical Images
                        </a>
                        G. Bruce Berriman and J. C. Good, 2017 <em>PASP</em> <b>129</b> 058006
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#astrolabe">
                    The Astrolabe Project
                </a>
            </h4>
        </div>
        <div id="astrolabe" class="panel-collapse collapse ">
            <div class="panel-body">
                TODO
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#astrolabe">
                    Montage and Toasty
                </a>
            </h4>
        </div>
        <div id="astrolabe" class="panel-collapse collapse ">
            <div class="panel-body">
                TODO
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#astrolabe">
                    Glue with WWT
                </a>
            </h4>
        </div>
        <div id="astrolabe" class="panel-collapse collapse ">
            <div class="panel-body">
                TODO
            </div>
        </div>
    </div>



    </div>



    <h4>Tile Pipeline Tools</h4>
    <p>Tile Pipeline Tools allow:</p>
    <ul>
        <li>Reproject image data into tile pyramids suitable for visualization in WorldWide Telescope.</li>
        <li>Turn global or local xyz data into image tile pyramids.</li>
        <li>Process Digital Elevation Models (DEM) into WWT compatible DEM tile pyramids.</li>
        <li>Share the tile pyramids with your colleagues.</li>
        <li>Create your own community containing tours, data and links that your colleagues can easily access.</li>
        <li>Access the original ADK tools, i.e. the Sphere Toaster and the Study Chopper.</li>
    </ul>
    <p>
        Further Reading and Reference documentation
    </p>
    <ul>
        <li><a href="/Developers/DataFilesReference">Data Files Reference documentation</a> </li>
        <li><a href="/Developers/ProjectionReference">Projection Reference documentation</a> </li>
    </ul>


