@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	<li class="active"><a href="/Layerscape/">Earth Sciences in WWT</a></li>
	<li><a href="http://layerscape.org">Layerscape</a></li>
}
<script>
    location.href = '/';
</script>
	@*<h1>Earth Sciences in WWT</h1>
	<p>Layerscape enables earth and planetary scientists to visualize large, complex datasets in the WorldWide Telescope (WWT) virtual globe application. Whether your dataset includes two million data points, whether it carries time tags for events, whether it lies on, above or beneath the earth’s surface: WWT will show you your data with an open invitation to explore. From seismology to oceanography to behavioral science to the ionosophere: If you have not seen WWT in action yet we are sure you will be amazed; so find out what is possible at the Layerscape website in three easy steps: 
</p>
	<p>Step 1: Visit the links below and click Play on the videos. </p>
	<p>Step 2: Install WWT on your PC and download Layerscape Tours for immersive playback.</p>
	<p>Step 3: When you’re ready to discover how easy it is for yourself, download the Tutorial here and spend an hour finding out how WWT can help you gain new insight into your data. Then use the Layerscape website to share, collaborate and communicate your data-driven research stories.</p>


<h4>Layerscape links:</h4>
	<ul>
	    <li><a href="http://www.layerscape.org/" target="layerscape">Home page</a> including free WWT install button</li>
	    <li><a href="/drops/WWTExcelAddin.msi">Excel Add-in for WWT</a></li>
		<li><a href="http://www.layerscape.org/Content/Index/1193" target="layerscape">Grand Tour:</a> Oceans to molecules to tectonic plates</li>
		<li><a href="http://www.layerscape.org/Content/Index/1167" target="layerscape">Seismology:</a> The structure of the solid earth</li>
		<li><a href="http://www.layerscape.org/Content/Index/658" target="layerscape">Ebb and Flow:</a> Time and tides in Puget Sound</li>
		<li><a href="http://www.layerscape.org/Content/Index/453" target="layerscape">Tutorial:</a> Learn how easy it is in under an hour</li>
	</ul>*@

