<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>@@UserName@@ has commented on the Layerscape @@Type@@ "@@Name@@"</title>
</head>
<body style="font-size: 11pt; font-family: Calibri;">
    <p>
        <span>Hi @@RecipientName@@,</span></p>
    <p>
        <span><a href="@@UserLink@@">@@UserName@@</a> has commented on the Layerscape @@Type@@
            <a href="@@Link@@">@@Name@@</a>.</span></p>
    <p>
        <span><a href="@@UserLink@@">@@UserName@@</a> wrote:</span><br />
        <span style="font-size: 11pt; font-family: Times New Roman;">"@@UserComments@@"</span></p>
    <p>
        <span>Thanks,</span><br />
        <span>The Layerscape Team</span></p>
    <p>
        <span lang="EN-US" style="font-size: 8.5pt; font-family: 'Segoe UI','Sans-Serif';
            color: #333333; font-style: italic;">Microsoft respects your privacy. To learn more,
            please read our <a href="http://privacy.microsoft.com/en-us/default.mspx"><span style="color: #3366CC;
                text-decoration: none;">Privacy Statement</span></a>. To unsubscribe from these
            emails, edit your profile and uncheck the “Subscribe to notifications” option.</span>
    </p>
    <p>
        <span lang="EN-US" style="font-size: 8.5pt; font-family: 'Segoe UI','Sans-Serif';
            color: #333333; font-style: italic;">Microsoft Corporation<br />
            One Microsoft Way<br />
            Redmond, WA, USA 98052 </span>
    </p>
</body>
</html>
