@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Interact/LeftNav.cshtml")
}

<script>$(window).on('load', function() {
    wwt.WebControl.init({
        debug:true,
        resLoc: '@Model.ResLoc'
    });
});

</script>
<style>
    #WorldWideTelescopeControlHost div.pincher {
        position: absolute;top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
</style>
<section>
    <h1>Debug</h1>
    
        <p id="txtIntro">This is a test control with a pinch overlay to test pinch zoom</p>

    <div id="WorldWideTelescopeControlHost" style="position:relative">
        
        <div id="UI" class="hide"></div>
        <div id="WWTCanvas"></div>
        
        
        
    </div>
    <textarea id="debug" style="display:block;width:100%;height:500px;color:black;" class="hide">

    </textarea>
    
</section>


   
