@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Interact/LeftNav.cshtml")
}

<script>
	$(window).on('load', function() {
		wwt.TourPlayer.init({
			resLoc: '@Model.ResLoc',
			tour: '@Model.ContentDir/webcontroltours/milkyway5.wtt'
		});
	});
</script>
<section>
	<h1>View the Milky Way</h1>
	<p id="txtIntro">We live inside the Milky Way galaxy, which contains hundreds of billions of stars as well as massive clouds of gas and dust.  However we are inside the galaxy looking out and understanding the true nature of our galaxy is challenging.  The Tour below shows how the Milky Way would look in other wavelengths of light.</p>
	<div id="WorldWideTelescopeControlHost"></div>
	<br/>
	<p>Having trouble viewing this tour in your browser?  <a href="@Model.ContentDir/webcontroltours/milkyway5.wtt">Watch this tour</a> in WorldWide Telescope Windows Client. (Required WWT Windows Application - <a href="/Download/">download here</a>).  </p>
   
</section>


   
