@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
	ViewBag.HideTranslateWidget = 1;
}
@section leftnav{
	@Html.Partial("~/Views/Developers/LeftNav.cshtml")
}
<section>
	<h2>Developers Overview</h2>
	<p> The WorldWide Telescope enables remarkable customization to developers through Tools and Interfaces.   Developer tools enables the customization of data for both the WorldWide Telescope Windows Client and Web Control.</p>
	
	
	<h4>WWT SDK</h4>
	<ul>
		<li>
			<strong><a href="/Developers/WWTSDK">WWT SDK</a></strong> &mdash; 
			A comprehensive Software Development Kit (SDK) is available to enable applications to be written to transmit data to be rendered in WorldWide Telescope.
		</li>
		<li>
			<strong>
				<a href="/Docs/WWTSDKFactSheet.pdf">WWT SDK Fact Sheet (PDF)</a>
			</strong>
		</li>
		
	</ul>
	<p>You can also check out the <a href="http://blogs.msdn.com/b/wwtdata/">Data Blog</a> for tricks and tips on using the SDK and how to build communities. </p>
	@*<p>To ask technical questions or to give us feedback on the SDK you can e-mail us at wwtefbk@microsoft.com.</p>*@


	<h4>Web Control Reference</h4>
	<p>WorldWide Telescope Web Control API allows you to integrate WWT into any web data portal, or build mashups to display your own interface and WorldWide Telescope.</p>
	<p><a href="/Developers/HTML5SDK">View the Web Control Script Reference documentation.</a></p>
	<h4>Layer Control API</h4>
	<p>The Layer Control API (LCAPI) enables efficient data transfer and visualization in WorldWide Telescope.  The LCAPI supports:</p>
	<ul>
		<li>Adding custom data to the Layer Manager of WorldWide Telescope.</li>
		<li>Connecting your database and application specific processing with WorldWide Telescopes Visualization.</li>
		<li>Remotely controlling WWT from other applications.</li>
	</ul>
	<p>Explore <a href="/Developers/LayerControlAPI">Layer Control API documentation</a> (includes sample code).</p>
	
	<h4>Tile Pipeline Tools</h4>
	<p>Tile Pipeline Tools allow:</p>
	<ul>
		<li>Reproject image data into tile pyramids suitable for visualization in WorldWide Telescope.</li>
		<li>Turn global or local xyz data into image tile pyramids.</li>
		<li>Process Digital Elevation Models (DEM) into WWT compatible DEM tile pyramids.</li>
		<li>Share the tile pyramids with your colleagues.</li>
		<li>Create your own community containing tours, data and links that your colleagues can easily access.</li>
		<li>Access the original ADK tools, i.e. the Sphere Toaster and the Study Chopper.</li>
	</ul>
	<p>
		Further Reading and Reference documentation
	</p>
	<ul>
		<li><a href="/Developers/DataFilesReference">Data Files Reference documentation</a> </li>
		<li><a href="/Developers/ProjectionReference">Projection Reference documentation</a> </li>
	</ul>


 </section>
