@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
    ViewBag.HideTranslateWidget = 1;
}
@section leftnav{
	@Html.Partial("~/Views/Developers/LeftNav.cshtml")
}

<iframe id='sdkFrame' src="/docs/WorldWideTelescopeProjectionReference.html"></iframe>
<div class="rightContentContainer"></div>