
@{
    ViewBag.Title = "WWT Stories";
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}

<h1>WWT Stories</h1>

<p><a href="http://wwtstories.org">Explore the stories of WorldWide Telescope in Action!</a></p>
